<template>
  <section id="wrap_card_id">
    <div class="container">
      <div class="box_card">
        <div class="block_left">
          <Destop />
        </div>
        <div class="block_right">
          <SidebarListCategory />
          <BestStoryRead />
        </div>
      </div>
    </div>
    <v-modal name="CreateCardModal" />
  </section>
</template>
<style lang="scss" src="assets/scss/components/home_id.scss"></style>
<script>

import SidebarListCategory from '@/components/common/SidebarListCategory'
import Destop from '@/components/pages/story/index'
import BestStoryRead from '~/components/common/best-story-read'
export default {
  components: { BestStoryRead, SidebarListCategory, Destop },
  props: {

  },
  methods: {
    openModal () {
      this.$modal.open({ name: 'CreateCardModal' })
    },
    closeModal () {
      console.log('Close')
      this.$modal.close({ name: 'CreateCardModal' })
    }
  }
}
</script>
