<template>
  <div class="main-warap">
    <div class="main_section">
      <div class="container">
        <div v-if="dataDetailCategory" class="section__warrap">
          <div class="block__warrap_left">
            <Destop
              v-if="dataStory"
              :data-story="dataStory"
              :data-detail-category="dataDetailCategory"
              :data-page="page"
              @onPaginationPrev="onPrev($event)"
              @onPaginationNext="onNext($event)"
            />
          </div>
          <div class="block__warrap_right">
            <div class="box_warap_block">
              <SidebarListCategory />
              <BestStoryRead />
            </div>
          </div>
        </div>
        <div v-else class="warrap_detail_none">
          <p class="none_data">
            <span class="loading" />Vui lòng đợi !
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import STORYAPI from '@/api/story'
import Destop from '@/components/pages/theloai/index.vue'
import SidebarListCategory from '@/components/common/SidebarListCategory'
import BestStoryRead from '~/components/common/best-story-read'
export default {
  name: 'DetailSlugCategory',
  components: {
    BestStoryRead,
    Destop,
    SidebarListCategory
  },
  data () {
    return {
      dataStory: null,
      dataDetailCategory: null,
      slug: this.$route.params.slug,
      page: 1,
      SEO_title: '',
      SEO_description: ''
    }
  },
  head () {
    return {
      title:
        'Danh sách thể loại truyện ' +
        this.SEO_title +
        '| Truyencc.net - Truyện Online Hay nhất Và cập nhật liên tục',
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
        {
          hid: 'www.truyencc.net là trang đọc truyện online hay và mới nhất cập nhật liên tục từ nhiều nguồn khác nhau trên mạng.Đặc biệt có phiên bản đọc truyện cho di động.',
          name: 'www.truyencc.net là trang đọc truyện online hay và mới nhất cập nhật liên tục từ nhiều nguồn khác nhau trên mạng.Đặc biệt có phiên bản đọc truyện cho di động.',
          content:
            'www.truyencc.net là trang đọc truyện online hay và mới nhất cập nhật liên tục từ nhiều nguồn khác nhau trên mạng.Đặc biệt có phiên bản đọc truyện cho di động.'
        }
      ],
      link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
    }
  },
  mounted () {
    this.fectDataStory()
  },
  methods: {
    async fectDataStory () {
      if (this.slug) {
        try {
          const dataDetailCategory = await this.$axios.$get(
            STORYAPI.DETAIL_CATEGORY_BY_SLUG + this.slug
          )
          const dataStory = await this.$axios.$get(
            STORYAPI.LIST_STORY_BY_SLUG_CATEGORY +
            this.slug +
            '?page=' +
            this.page
          )
          if (dataStory) {
            this.dataStory = dataStory.data
            this.page = dataStory.data.current_page
          }
          if (dataDetailCategory) {
            this.dataDetailCategory = dataDetailCategory.data
            this.SEO_title = dataDetailCategory.data.category_name
            this.SEO_description = dataDetailCategory.data.category_description
          }
        } catch (error) {
          console.log('error', error.status)
          this.$router.push({ path: '/' })
        }
      }
    },
    onPrev (config) {
      this.page = config.future_page
      this.fectDataStory()
    },
    onNext (config) {
      this.page = config.future_page
      this.fectDataStory()
    }
  }
}
</script>
<style lang="scss">
  .main-warap {
    .main_section {
      .container {
        .section__warrap {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .block__warrap_left {
            width: 70%;
          }
        }
      }
    }
  }
</style>
