<template>
  <div modal="true">
    <div>
      <div v-if="visible" :data-nodal="name" class="modal">
        <div
          aria-modal="true"
          data-reach-dialog-content="true"
          tabindex="-1"
          class="modal_mask"
        >
          <div class="modal_body">
            <slot :payload="payload" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VModal from './handle'
export default {
  props: {
    name: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      payload: null,
      visible: false
    }
  },
  beforeMount () {
    // Open Event
    VModal.EventBus.$on('open', (params) => {
      if (this.name === params.name) {
        this.open(params)
      }
    })
    /// close
    VModal.EventBus.$on('close', (params) => {
      if (this.name === params.name) {
        this.close(params)
      }
    })
  },
  methods: {
    close () {
      this.visible = false
    },
    open (params) {
      this.payload = params.payload
      this.visible = true
      // To Do Something
    }
  }
}
</script>
<style scoped lang="scss">
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: unset;
  height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 9999;
  padding-top: 10px;
  padding-bottom: 10px;
  &_body {
    min-width: 640px;

    .modal_header,
    .modal_body,
    .modal_footer {
      background: #fff;
      padding: 10px;
    }
    .modal_header {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      min-height: 40px;
      border-bottom: 1px solid #e1e1e1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .modal_title {
        font-weight: bold;
        font-size: 16px;
        color: #333;
      }
      .close_modal {
        height: 34px;
        width: 34px;
        outline: none;
        cursor: pointer;
        border: none;
        background-image: url("~/assets/img/cancel.svg");
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
      }
    }
    .modal_body {
    }
    .modal_footer {
      border-top: 1px solid #e1e1e1;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      min-height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .btn {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
</style>
