<template>
  <form @submit.prevent="onSave">
    <h1 class="mb-2 font-weight-bold">
      Create New Decks
    </h1>
    <div class="porn_group">
      <label for="">Name:</label>
      <input
        class="form_control"
        type="text"
        placeholder="Please enter name deck"
      >
    </div>
    <div class="porn_group">
      <label for="">Description:</label>
      <textarea
        class="form_control"
        placeholder="Please enter description"
      />
    </div>
    <div class="porn_group">
      <label for="">Thumbnail:</label>
      <input
        class="form_control"
        type="text"
        placeholder="https://exemple.com/foo.pnj"
      >
      <div class="preview" />
    </div>
    <div class="forn_group d_flex justify-content-end mt-4">
      <button class="btn btn-danger" @click="closeModal">
        Close
      </button>
      <button class="btn btn-success ml-3" type="submit">
        Edit Deck
      </button>
    </div>
  </form>
</template>
<script>
export default {
  props: {
    deck: {
      type: Object,
      required: false,
      default: () => ({
        name: '',
        description: '',
        thumbnail: ''
      })
    }
  },
  methods: {
    closeModal () {
      this.$modal.close({ name: 'CreateDeckModal' })
    },
    onSave () {
      this.$emit('submit', this.editeDeck)
    }
  }
}
</script>
<style lang="scss">
form {
  background-color: white;
  width: 380px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  color: #4285f4;
  &>div {
    display: flex;
    flex-direction: column;
  } &>div:nth-child(5) {
    display: flex;
    flex-direction: row;
  }
  .porn_group {
    label {
      min-width: 87px;
      margin: 15px 0 10px;
    }
  }
}
</style>
