$color1: #4285f4;

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #333;

  .modal-open {
    background: rgba(0, 0, 0, 0.4);
  }
}

.wrapper {
  overflow-y: hidden;
}

.warap_body {
  // min-height: calc(100vh - 200px);
  min-height: 1600px;

  .c {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
  }
}

.containers {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @include maxWidth(1200px) {
    width: calc(100% - 30px);
  }
}

.btn {
  height: 44px;
  min-width: 160px;
  border-radius: 10px;
  @include borderRadius(4px);
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.9;
  }

  &.btn_default {
    color: #333;
    background-color: #e1e1e1;
  }

  &.btn_primary {
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      background-color: map_get($main-colors, 2);
    }

    background-color: map_get($main-colors, 1);
  }
}

//HELPER
.help {
  font-size: 12px;
  display: block;
  margin-top: 2px;
  letter-spacing: 1.1px;
  font-weight: 400;

  &.is_danger {
    color: rgb(255, 29, 29);
  }
}

.scroll-top {
  opacity: 0;
  position: fixed;
  width: 36px;
  height: 36px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
  display: none;
  background-image: url('@/assets/img/icon/scroll-to-top.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.show-scroll-btn {
  opacity: 1;
  visibility: visible;
  animation-name: showBtn;
  animation-duration: 1s;
  bottom: 120px;
  display: block;
}

.widget_box {
  margin-bottom: 20px;

  &.list_category {
    display: flex;
    flex-direction: column;

    .block_list {
      display: flex;
      flex-direction: row;

      .list_items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .items {
          width: 50%;

          .item-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            cursor: pointer;
            @include tran_slow_03();

            @include hofo() {
              label {
                color: map_get($main-colors, 1);
              }
            }

            label {
              cursor: pointer;
              color: #888;
              // @include break_word(1, 14);
            }
          }
        }
      }
    }
  }

  &.list_count_view {
    .block_list {
      .items {
        margin-bottom: 10px;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          .content_item {
            a {
              span {
                background-color: map_get($main-colors, 1);
              }
            }
          }
        }

        &:nth-child(1) {
          .content_item {
            a {
              span {
                background-color: map_get($main-colors, 1);
              }

              .pic {
                figure {
                  width: 110px;
                }
              }
            }
          }
        }

      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .block_title {
    font-size: 16px;
    // @include border_radius(4px, 4px, 0, 0);
    min-height: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: rgba(0, 0, 0, .1);
    background-color: map_get($main-colors, 1);
    color: #fff;
  }

  .block_list {
    background-color: #fff;
    padding: 10px;

    .list_items {
      display: flex;
      flex-direction: column;

      .items {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .content_item {
          display: block;

          a {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            align-items: center;
            outline: none;
            flex-wrap: wrap;

            @include hofo() {
              .pic {
                figure {
                  width: 110px;
                }
              }
            }

            span {
              width: 20px;
              height: 20px;
              @include borderRadius(50%);
              background-color: #666;
              color: #fff;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              margin-right: 5px;

            }

            .pic {
              margin-right: 5px;

              figure {
                width: 0;
                height: 60px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                @include tran_slow_03();
                @include borderRadius(4px);
                overflow: hidden;
              }
            }

            .title {
              flex: 1;
              -ms-flex: 1;
              color: #666;
              @include break_word(2, 20);
            }
          }
        }
      }
    }
  }
}


.block_breadcrumb {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  @include tran_slow_03();
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-top: 20px;

  @include maxWidth(480px) {
    padding: 10px;
  }

  ul {
    display: block;
    align-items: center;

    li {
      display: inline;
      color: #888;
      font-size: 15px;
      line-height: 20px;

      &:after {
        content: '/\00a0';
        padding: 0 8px;
        color: black;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }

      a {
        text-decoration: none;
        outline: none;
        color: map_get($main-colors, 1);
      }
    }
  }
}

.content_item {
  a {
    .name_cate {
      display: flex !important;
      flex-direction: row;
      align-items: center;

      &::before {
        margin-right: 5px;
        content: "";
        width: 4px;
        height: 4px;
        background-color: map_get($main-colors, 1);
        display: inline-block;
        @include borderRadius(50%);
      }
    }
  }
}

.main-warap {
  margin-top: 30px;
}

.warrap_detail_none {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .none_data {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .loading {
      margin-bottom: 10px;
      height: 30px;
      width: 30px;
      background-image: url('@/assets/img/loading.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      animation: xoayvong 2s linear 0s infinite;
      -webkit-animation: xoayvong 2s linear 0s infinite;
      -moz-animation: xoayvong 2s linear 0s infinite;
      -o-animation: xoayvong 2s linear 0s infinite;
    }
  }
}
