@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
} @mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
} @mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
} @mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
} @mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
} @mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content;
    }
  
    @-moz-keyframes #{$name} {
      @content;
    }
  
    @-ms-keyframes #{$name} {
      @content;
    }
  
    @keyframes #{$name} {
      @content;
    }
  }
  
  @mixin animation($value) {
    -webkit-animation: $value;
    -moz-animation: $value;
    -ms-animation: $value;
    -o-animation: $value;
    animation: $value;
  }
  
  // use of keyframes mixin
  @include keyframes(slidetopdown) {
    0% {
      opacity: 0;
      visibility: hidden;
      top: -100px;
    }
    100% {
      opacity: 1;
      visibility: visible;
      top: 0;
    }
  }
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
@include keyframes(slidetopdown) {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -100px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
