.modal-alert_authen {
  padding: 40px 0;

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    h1 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
      color: map_get($main-colors, 3);
      text-transform: uppercase;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }

  .modal-control_action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    .btn_sub {
      margin-right: 15px;
      background-color: #e1e1e1;
      color: #333;
      height: 40px;
      border-radius: 4px;
      border: none;
      outline: none;
      min-width: 120px;
      @include tran_slow_03();

      @include hofo() {
        background-color: map_get($main-colors, 3);
        color: #fff;
      }

      &:first-child {
        background-color: map_get($main-colors, 1);
        color:#fff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
