$clbg: #f6f5f7;
$color1: #4285f4;

.list_sociaal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  li {
    display: block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    button {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.7;
      }

      .c__icon {
        display: block;
        width: 40px;
        height: 40px;
        // &.facebook {
        //   background-image: url("~assets/img/facebook.svg");
        //   background-position: center;
        //   background-repeat: no-repeat;
        //   background-size: contain;
        // }
        // &.google {
        //   background-image: url("~assets/img/google-plus.svg");
        //   background-position: center;
        //   background-repeat: no-repeat;
        //   background-size: contain;
        // }
      }
    }
  }
}

.warrap_authen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f6f5f7;
  min-height: auto;

  .box_authen {
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
    background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      right: -16px;
      top: 0;
      bottom: 0;
      position: absolute;
      background: $color1;
      width: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .header_authen {
      margin-top: 40px;

      h1 {
        padding: 20px;
        font-weight: 700;
        font-size: 24px;
        color: $color1;
        text-transform: uppercase;
      }

      p {
        font-size: 13px;
        text-align: center;
        color: #868686;
        letter-spacing: 1.4px;
      }
    }

    .main_authen {
      padding: 20px;
      max-width: 100%;
      width: 90%;
      margin: 0 auto;
      @include tran_slow_03();

      @include maxWidth(480px) {
        padding: 0;
        width: 100%;
      }

      .box_login {
        display: flex;
        flex-direction: column;

        .box_btn_form {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .btn {
            margin-right: 10px;
            @include tran_slow_03();
            
            @include maxWidth(980px) {
              height: 44px;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .box_input {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0 0 20px;

          .group_label {
            display: block;
            text-transform: uppercase;
            color: rgba($color: #000000, $alpha: 0.6);
            font-size: 14px;
            margin-bottom: 5px;
          }

          input {
            width: 100%;
            height: 36px;
            outline: none;
            border: 1px solid #e1e1e1;
            padding: 0 10px;
            display: block;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.authen_text {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  a,
  span {
    color: $color1;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
