.list_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 0;
  margin-right: -1rem;
  margin-left: -1rem;

  .item_cate {
    width: 20%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 20px;
    @include tran_slow_03();

    @include maxWidth(1024px) {
      width: 25%;
    }

    @include maxWidth(980px) {
      width: 33.3333%;
    }

    @include maxWidth(480px) {
      width: 50%;
    }

    a {
      text-decoration: none;
      outline: none;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @include borderRadius(6px);
      color: #888;
      border: 1px solid #4285f4;
      @include tran_slow_03();

      @include hofo() {
        background-color: map_get($main-colors, 1);
        color: #fff;
      }
    }
  }
}