.chapter__warrap {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: calc(100vh - 200px);

  .story__header {
    padding: 2rem;
    margin-bottom: 20px;
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include borderRadius(4px);

    h3 {
      color: map_get($main-colors, 1);
      font-weight: bold;
      font-size: 32px;
      margin-bottom: 10px;
      .back_story{
        font-size: 14px;
        color: #333;
        text-decoration: none;
        outline: none;
        @include tran_slow_03();
        @include hofo(){
          opacity: 0.7;
        }
      }
    }

    h4 {
      font-size: 18px;
      margin-bottom: 15px;

      strong {
        font-weight: bold;
        color: #000;
        margin-right: 15px;
      }
    }

    p {
      color: #777;
      font-size: 15px;
    }
  }

  .chapter__header {
    margin-bottom: 30px;
  }

  .chapter__footer {
    margin-top: 30px;
  }

  .chapter__header,
  .chapter__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 36px;
    margin-bottom: 30px;

    .ctr_ben {
      position: absolute;
      top: 0;
      height: 36px;
      background-color: #e1e1e1;
      color: #333;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      text-decoration: none;
      outline: none;
      @include borderRadius(6px);
      @include tran_slow_03();

      @include hofo() {
        background-color: map_get($main-colors, 1);
        color: #fff;
      }

      &.btn_prev {
        left: 0
      }

      &.btn_next {
        right: 0;
      }
    }
  }

  .chapter__content {
    font-size: 18px;
    line-height: 1.5;

    * {
      font-size: 18px;
      line-height: 1.5;
    }
  }
}
