.box_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include tran_slow_03();
  background-color: transparent;

  @include maxWidth(480px) {
    display: none;
  }

  .box_input {
    height: 38px;
    flex: 1;
    -ms-flex: 1;

    input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      padding: 0 10px;
      color: #333;
      border:1px solid map_get($main-colors, 1);
      @include borderRadius(6px);
      background-color: #fff !important;
    }
  }

}

.suggestions_box {
  @include borderRadius(6px);
  position: relative;
  width: 280px;
  @include tran_slow_03();


  .suggestions__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 110%;
    background-color: #fff;
    z-index: 991;
    padding: 10px;
    @include tran_slow_03();
    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-height: 280px;
    @include no-scroll-bar();
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    &.on {
      height: auto;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      overflow-x: hidden;
      overflow-y: auto;
    }

    li {
      margin-bottom: 10px;
      position: relative;
      @include tran_slow_03();

      &:before {
        content: '';
        position: absolute;
        left: -8px;
        top: 0;
        bottom: 0;
        width: 4px;
        @include borderRadius(2px);
        background-color: map_get($main-colors, 1);
      }

      @include hofo() {
        opacity: 0.7;
      }
      &:last-child{
        margin-bottom: 0;
      }

      &:hover {
        a {
          .content_sugge {
            h3 {
              color: map_get($main-colors, 1)
            }
          }
        }
      }

      a {
        text-decoration: none;
        outline: none;

        .content_sugge {
          display: flex;
          flex-direction: column;

          h3 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
            @include break_word(1, 14);
            @include tran_slow_03();
          }

          p {
            font-size: 12px;
            letter-spacing: 1.2px;
            color: #888;
          
          }
        }
      }

    }
  }
}
