.main_header {
  background-color: #fff;
  background-image: url('@/assets/images/icon/headerBG.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .box_main_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 10px;
    @include tran_slow_03();

    @include maxWidth(768px) {
      height: 60px;
    }

    @include maxWidth(480px) {
      padding: 0;
      justify-content: space-between;
    }

    .box_logo {
      h1 {
        &.logo_bg {
          a {
            width: 183px;
            height: 44px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            @include tran_slow_03();

            @include maxWidth(980px) {
              width: 150px;
              height: 36px;
            }

            @include maxWidth(480px) {
              width: 160px;
              height: 39px;
            }
          }
        }

        a {
          display: block;

          img {
            height: 60px;
            @include tran_slow_03();

            @include maxWidth(768px) {
              height: 40px;
            }
          }
        }
      }
    }

    .bullet_show_menu {
      display: none;


      @include maxWidth(480px) {
        display: flex;
        flex-direction: row;

        .item_menu {
          margin-right: 5px;
          width: 40px;
          height: 40px;
          background-image: url('@/assets/images/menu.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 40%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          @include borderRadius(4px);
          background-color: map_get($main-colors, 1);

          &:last-child {
            margin-right: 0;
          }

          &.search {
            background-image: url('@/assets/images/icon/searching.svg');
          }
        }
      }

    }

    form {
      @include maxWidth(480px) {
        display: none;
      }
    }


  }
}


.main_nav {
  background-color: map_get($main-colors, 1);
  ;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;

  .box_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include maxWidth(480px) {
      justify-content: flex-end;
    }

    .authen_block {

      margin-bottom: 0;

      li {
        a {
          color: #fff;
          text-decoration: none;
          outline: none;
          @include tran_slow_03();

          @include hofo() {
            opacity: 0.7;
          }
        }

        &.login {
          a {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;

            &::before {
              content: '';
              width: 20px;
              height: 20px;
              margin-right: 5px;
              background-image: url('@/assets/images/login.svg');
              background-position: center;
              background-repeat: no-repeat;
              background-size: 90%;
              display: inline-block;
            }
          }
        }
      }
    }

    .main_menu__mobile {
      display: flex;
      flex-direction: column;

      .header {
        border-bottom: 2px solid map_get($main-colors, 1);

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 15px 0;

          img {
            height: 36px;
          }
        }
      }

      .menu {
        padding: 20px;

        .item_menu {
          margin-bottom: 10px;

          a {
            font-size: 16px;
            color: #333;
            text-decoration: none;
            outline: none;

            &.nuxt-link-exact-active {
              color: map_get($main-colors, 1);
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .main_menu__mobile {
      position: fixed;
      left: -100%;
      width: 240px;
      height: 100%;
      top: 0;
      z-index: 996;
      background-color: #fff;
      @include tran_slow_03();
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      background-color: #fff;
      display: none;

      @include maxWidth(480px) {
        display: block;
      }

      .menu {

        left: 0;
        top: 0;
        width: 100%;
        max-width: 240px;
        bottom: 0;

        li {
          a {
            color: map_get($main-colors, 1);
          }
        }
      }

      &.on {
        left: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    .main_menu {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include maxWidth(480px) {
        display: none;
      }

      ul.menu {
        display: flex;
        flex-direction: row;
        align-items: center;

        .item_menu {
          margin-right: 15px;

          &.active,
          &.nuxt-link-active {
            a {
              color: #fff;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            text-decoration: none;
            outline: none;
            color: #a5c7ff;
            font-size: 16px;
            padding: 0 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-transform: uppercase;
            @include tran_slow_03();

            @include maxWidth(768px) {
              font-size: 14px;
            }

            @include hofo() {
              color: #fff;
            }


            &.nuxt-link-exact-active {
              color: #fff;
            }
          }
        }
      }


      .item_menu {
        margin-right: 15px;

        &.active {
          a {
            color: #fff;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          text-decoration: none;
          outline: none;
          color: #e1e1e1;
          font-size: 16px;
          padding: 0 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
          text-transform: uppercase;
          @include tran_slow_03();

          @include maxWidth(768px) {
            font-size: 14px;
          }

          @include hofo() {
            color: #fff;
          }
        }
      }
    }

    .authen_block {
      display: flex;
      flex-direction: row;

      li {
        .box_login__info {
          display: flex;
          flex-direction: row;
          align-items: center;

          .box__avatar {
            width: 40px;
            height: 40px;
            @include borderRadius(50%);
            overflow: hidden;
            margin-right: 10px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              -ms-object-fit: cover;
            }
          }

          .box__full_info {
            display: flex;
            flex-direction: row;
            align-items: center;

            span {
              color: #fff;
              margin-right: 10px;
              position: relative;
              padding-right: 20px;

              &:before {
                right: 0px;
                top: 5px;
                border-right: 7px solid transparent;
                border-left: 7px solid transparent;
                position: absolute;
                display: inline-block;
                border-bottom: 7px solid #fff;
                content: "";
                @include xoay(180deg);
              }
            }

            button {
              outline: none;
              border: none;
              background-color: transparent;
              color: #fff;
            }
          }
        }

        &.unlogin {
          display: flex;
          flex-direction: row;
          align-items: center;

          button {
            height: auto;
            min-width: auto;
            font-size: 14px;
            font-weight: 500;
            margin-right: 25px;
            padding: 0;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

  }
}

.ovelay_menu_search,
.ovelay_menu {
  background-color: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  z-index: 9990;
  display: none;

  @include maxWidth(480px) {
    display: block;
  }
}

.block_search_mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: -100%;
  min-height: 100px;
  z-index: 9991;
  background-color: #fff;
  padding: 20px 10px;
  @include tran_slow_03();
  pointer-events: none;
  opacity: 0;

  form {
    display: flex;
    flex-direction: column;
  }

  .box_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
    @include borderRadius(6px);
    @include tran_slow_03();
    overflow: hidden;
    background-color: #fff;
    padding: 2px;



    .box_input {
      height: 38px;
      flex: 1;
      -ms-flex: 1;

      input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        padding: 0 10px;
      }
    }

    .box_submit {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 60px;
      -ms-flex: 0 0 60px;
      flex: 0 0 60px;

      button {
        width: 60px;
        height: 38px;
        background-color: map_get($main-colors, 1);
        ;
        outline: none;
        border: none;
        background-image: url('@/assets/images/icon/searching.svg');
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        @include border_radius(0, 4px, 4px, 0);

        &.disable {
          // pointer-events: none;
        }
      }
    }
  }
}

.nav_respontive {
  position: fixed;
  width: 230px;
  top: 0;
  left: -100%;
  bottom: 0;
  z-index: 9991;
  background-color: #fff;
  padding: 20px 10px;
  @include tran_slow_03();

  .authen_block {
    li {
      a {
        text-decoration: none;
        outline: none;
        text-align: center;
      }
    }
  }

  .box_auth {
    display: flex;
    flex-direction: column;

    li {
      &.box_ava {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 20px;
        margin-bottom: 20px;

        span {
          margin-top: 10px;
          font-size: 16px;
          font-weight: bold;
        }
      }

      .avatar {
        width: 80px;
        height: 80px;
        @include borderRadius(50%);
      }

      &.box_name {
        ul.drop_down_menu {
          li {
            a {
              text-decoration: none;
              outline: none;
              padding: 10px;
              display: flex;
              flex-direction: row;
              align-items: center;
              color: #333;
              @include tran_slow_03();

              @include hofo() {
                opacity: 0.7;
              }

              &::before {
                margin-right: 5px;
                content: '';
                width: 16px;
                height: 16px;
                display: block;
                background-color: #e1e1e1;

                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }

            &.info {
              a {
                &::before {
                  background-image: url('@/assets/images/info.svg');
                }
              }
            }

            &.bookcase {
              a {
                &::before {
                  background-image: url('@/assets/images/bookcase.svg');
                }
              }
            }

            &.logout {
              a {
                &::before {
                  background-image: url('@/assets/images/logout.svg');
                }
              }
            }
          }
        }
      }
    }
  }
}

.box_login__info {
  position: relative;
  cursor: pointer;

  &.on {
    .dropdown_user_control {
      height: auto;
      opacity: 1;
      pointer-events: all;
    }
  }

  .dropdown_user_control {
    min-width: 180px;
    pointer-events: none;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 5px;
    @include borderRadius(4px);
    background-color: #5d90e4;
    @include tran_slow_03();
    z-index: 990;

    &:before {
      right: 5px;
      top: -7px;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      position: absolute;
      display: inline-block;
      border-bottom: 7px solid #5d90e4;
      content: "";
    }

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      a,
      button {
        @include borderRadius(4px);
        padding: 10px;
        display: block;
        color: #333;
        white-space: nowrap;
        width: 100%;
        text-align: left;
      }
    }
  }
}

.ovlaymenu_mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 995;
}
