.home_top_ss {
  margin-top: 25px;

  @include maxWidth(480px) {
    margin-top: 15px;
  }

  .warrap_top_ss {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 25px;
    min-height: 400px;
    @include tran_slow_03();

    @include maxWidth(980px) {
      padding: 0;
      flex-direction: column;
    }

    .box_home_left {
      width: 400px;
      @include tran_slow_03();

      @include maxWidth(980px) {
        width: 340px;
      }

      @include maxWidth(480px) {
        width: 100%;
      }
    }

    .box_home_right {
      flex: 1;
      -ms-flex: 1;
      @include maxWidth(980px) {
        padding-left: 0;
      }
  
    }
  }
}

.warrap_top_ss {
  .box_home_left {
    @include tran_slow_03();
    @include maxWidth(980px) {
      display:none;
    }

    .warrap_item {
      @include borderRadius(6px);
      overflow: hidden;
      display: block;
      text-decoration: none;
      outline: none;
      box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

      .box_thumb {
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include tran_slow_03();

        @include maxWidth(980px) {
          height: 400px;
        }
      }

      .box_info {
        background-color: map_get($main-colors, 1);
        padding: 0 10px;
        min-height: 75px;
        color: #fff;

        .category_name {
          padding-top: 5px;
        }

        .story_name {
          margin-top: 10px;
          color: #fff;
          font-size: 16px;
          @include break_word(1, 22);
        }
      }
    }
  }

  .box_home_right {
    padding-left: 15px;

    @include maxWidth(480px) {
      padding-left: 0;
    }

    .warrap_item_box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .box_item {
        width: 25%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
        @include borderRadius(6px);
        overflow: hidden;
        @include tran_slow_03();

        @include maxWidth(480px) {
          @include calc(width, '33.33333%');
        }

        .content_itenm {

          .wrap_item_thumb {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            outline: none;
            overflow: hidden;
            @include tran_slow_03();
            @include borderRadius(6px);
            overflow: hidden;

            @include hofo() {
              box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);

              .box_info {
                background-color: map_get($main-colors, 1);

                .story_name {
                  color: #fff;
                }
              }

              .box_thumb {
                opacity: 0.7;
              }
            }

            .box_thumb {
              width: 100%;
              height: 214px;
              background-color: #e1e1e1;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              @include tran_slow_03();

              @include maxWidth(980px) {
                height: 230px;
              }

              @include maxWidth(480px) {
                height: 150px;
              }
            }

            .box_info {
              height: 70px;
              background-color: #fff;
              padding-left: 10px;
              @include border_radius(0, 0, 6px, 6px);
              @include tran_slow_03();

              .category_name {
                margin-top: 5px;

                ul {
                  display: flex;
                  flex-direction: row;
                  align-items: center;

                  li {
                    padding: 5px;
                    @include borderRadius(3px);
                    font-size: 10px;
                    background-color: map_get($main-colors, 1);
                    color: #fff;
                    display: inline;
                  }
                }
              }

              .story_name {
                margin-top: 5px;
                font-size: 14px;
                color: #666;
                @include break_word(2, 18);
              }
            }
          }

        }
      }
    }
  }
}

.main_warrap_section_site {
  .main_warrap_block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include maxWidth(980px) {
      padding: 0 10px;
    }

    .warrap_left_block {
      @include tran_slow_03();
      width: 100%;
      // @include calc(width, '100% - 340px');

      // @include maxWidth(980px) {
      //     @include calc(width, '100% - 290px');
      // }

      // @include maxWidth(768px) {
      //     width: 100%;
      // }
    }

    .warrap_right_block {
      display: none;
      width: 340px;
      @include tran_slow_03();

      @include maxWidth(980px) {
        width: 290px;
      }

      @include maxWidth(768px) {
        display: none;
      }

      .box_warap_block {
        padding-left: 20px;
      }
    }
  }
}

.block_content {
  margin-bottom: 25px;

  @include maxWidth(480px) {
    margin-bottom: 0;
  }

  .block_title {
    h3 {
      margin-bottom: 15px;

      a {
        color: #333;
        font-size: 18px;
        line-height: 1;
        text-decoration: none;
        outline: none;
        position: relative;
        padding-left: 10px;

        &::before {
          content: '';
          width: 2px;
          height: 70%;
          background-color: map_get($main-colors, 1);
          position: absolute;
          left: 0;
          top: 15%;
        }

        @include hofo() {
          color: map_get($main-colors, 1);
        }
      }
    }
  }

  .warrap_grid_post {
    display: flex;
    flex-direction: column;

    .grid_data {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;

      .grid_item {
        @include calc(width, '20% - 20px');
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        @include tran_slow_03();

        @include maxWidth(980px) {
          @include calc(width, '33.333333% - 20px');
        }

        .warrap_article {
          background-color: #fff;
          @include borderRadius(6px);
          @include tran_slow_03();

          @include hofo() {
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
          }

          .thumb {
            a {
              text-decoration: none;
              outline: none;
              background-color: #666;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              min-height: 260px;
              display: flex;
              flex-direction: row;
              @include border_radius(6px, 6px, 0, 0);
              @include tran_slow_03();

              @include maxWidth(980px) {
                min-height: 280px;
              }

              @include maxWidth(480px) {
                min-height: 180px;
              }
            }
          }

          .grid_bottom {
            height: 60px;
            background-color: #fff;
            padding-left: 10px;
            padding-top: 10px;

            span {
              margin-bottom: 5px;
              display: block;
            }

            .grid_title {
              display: flex;
              flex-direction: column;

              a {
                text-decoration: none;
                outline: none;
                color: #666;
                font-size: 14px;
                @include break_word(2, 20);

                @include hofo() {
                  color: map_get($main-colors, 1);
                }
              }
            }
          }
        }
      }
    }
  }
}



.warrap_reading {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;

  @include maxWidth(480px) {
    width: 96%;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .list_story {
    p {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 10px;

      strong {
        font-weight: bold;
      }

      @include maxWidth(480px) {
        font-size: 16px;
      }

      a {
        font-weight: bold;
        color: map_get($main-colors, 1);
      }
    }
  }
}

.warrap_reading {

  // margin-bottom: 20px;
  border: 1px dashed #8c8c8c;
  @include borderRadius(10px);
  // padding: 20px;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;

  .block_title {
    font-size: 18px;
    font-weight: bold;
    @include tran_slow_03();
    padding: 10px;

    @include maxWidth(480px) {
      padding: 10px;
    }
  }

  .list_story {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

    @include maxWidth(480px) {
      padding: 10px;
    }

    .item_story {
      margin-bottom: 15px;
      flex: 1;
      -ms-flex: 1;
      min-width: 50%;

      .warrap_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        outline: none;
        padding-right: 15px;

        .thumb {
          width: 60px;
          height: 90px;
          background-color: #333;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .content {
          flex: 1;
          -ms-flex: 1;
          padding-left: 10px;

          h3 {
            color: #333;
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold;
          }

          h5 {
            color: #333;
            font-size: 14px;
          }

          .read_more {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-start;
            margin-top: 15px;

            span {
              padding: 5px 10px;
              @include borderRadius(4px);
              background: map_get($main-colors, 1);
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.category_list_home {
  margin-bottom: 40px;

  .list_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .items {
      width: 20%;
      @include tran_slow_03();

      @include maxWidth(768px) {
        width: 33.333333%;
      }

      @include maxWidth(480px) {
        width: 50%;
      }

      @include maxWidth(480px) {
        width: 50%;
      }

      .content_item {
        a {
          text-decoration: none;
          outline: none;
          color: #333;
          font-size: 15px;
          cursor: pointer;
          padding: 10px 0;
          display: block;
          @include tran_slow_03();

          @include hofo() {
            color: map_get($main-colors, 1);
          }

          .name_cate {
            cursor: pointer;

            &::before {
              content: none;
            }
          }
        }
      }
    }
  }
}

.heading_main_title {
  display: block;
  margin-bottom: 15px;

  h2 {
    font-size: 22px;
    font-weight: 700;
    color: #333;
  }
}

.main_list_cate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  min-height: 400px;

  .block_cate_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item_list_cate {
      width: 25%;
      @include calc('width', '25% - 15px');
      margin-right: 15px;
      @include tran_slow_03();

      @include maxWidth(980px) {
        @include calc('width', '50% - 15px');
      }

      @include maxWidth(480px) {
        width: 100%;
        margin-right: 0;
      }

      .block_title {
        h3 {
          border-bottom: 1px solid #ccc;
          margin-bottom: 10px;
          padding-bottom: 10px;

          a {
            text-decoration: none;
            outline: none;
            color: #000;
            font-size: 18px;
            font-weight: 700;
          }
        }
      }

      .warrap_grid_post {
        .grid_data {
          margin-bottom: 20px;

          .grid_item {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px dashed #ccc;
            padding: 10px 0px;
            color: #333;

            &:nth-child(1) {
              .warrap_article {
                .thumb {
                  a {
                    width: 60px;
                  }

                }
              }

              .count_num {
                color: #fff;
                background-color: #e94235;
              }
            }

            &:nth-child(2) {
              .count_num {
                color: #fff;
                background-color: #fabb05;
              }
            }

            &:nth-child(3) {
              .count_num {
                color: #fff;
                background-color: #34a853;
              }
            }

            &:nth-child(4) {
              .count_num {
                color: #fff;
                background-color: #4285f4;
              }
            }

            @include hofo() {
              .warrap_article {
                .grid_bottom {
                  .grid_title {
                    opacity: 0.5;
                  }
                }

                .thumb {
                  a {
                    width: 60px;

                  }

                }
              }
            }

            .count_num {
              width: 30px;
              height: 30px;
              background-color: #ccc;
              @include borderRadius(50%);
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
            }

            .warrap_article {
              @include calc('width', '100% - 30px');
              display: flex;
              flex-direction: row;
              align-items: center;

              .grid_bottom {
                padding-left: 10px;
                flex: 1;
                -ms-flex: 1;

                span {
                  font-size: 10px;
                  font-weight: 500;
                  letter-spacing: 1.2px;
                  color: #888;
                }

                .grid_title {
                  a {
                    text-decoration: none;
                    outline: none;
                    color: #333;
                    font-size: 15px;
                    @include tran_slow_03();
                    @include break_word(2, 18);
                  }
                }
              }

              .thumb {

                a {
                  width: 0;
                  background-color: #666;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  min-height: 60px;
                  display: flex;
                  flex-direction: row;
                  @include tran_slow_03();

                  @include maxWidth(980px) {
                    width: 60px;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}

.qua_co_global {
  width: 100%;
  // background: #888;
  height: 140px;
  margin-bottom: 20px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    -ms-object-fit: contain;
  }

  img[lazy=loading] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    -ms-object-fit: contain;
  }

  img[lazy=error] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    -ms-object-fit: contain;
  }

  img[lazy=loaded] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    -ms-object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    img {
      max-width: 100%;
    }
  }
}
