.main_article {
  .main_title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 25px;
    font-weight: bold;
  }

  .main {

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 15px 0;

      * {
        line-height: 1.3;
        text-decoration: none;
        outline: none;
        color: #000;
        display: inline-block;
      }
    }

    h1 {
      font-size: 150%;
      font-weight: 600;

      * {
        font-size: 150%;
        font-weight: 600;
      }
    }

    h2 {
      font-size: 140%;
      font-weight: 600;

      * {
        font-size: 140%;
        font-weight: 600;
      }

    }

    h3 {
      font-size: 130%;
      font-weight: 600;
    }

    h4 {
      font-size: 120%;
    }

    h5 {
      font-size: 110%;
    }

    p {
      margin: 10px 0;
      line-height: 1.8;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 15px 0;

        * {
          line-height: 1.3;
          text-decoration: none;
          outline: none;
          color: #000;
          display: inline-block;
        }
      }

      h1 {
        * {
          font-size: 150%;
          font-weight: 600;
        }
      }

      h2 {
        * {
          font-size: 140%;
          font-weight: 600;
        }

      }

      h3 {
        font-size: 130%;
        font-weight: 600;
      }

      h4 {
        font-size: 120%;
      }

      h5 {
        font-size: 110%;
      }

      img {
        max-width: 80%;
        margin: 0 auto;
        height: auto !important;
        display: block;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    ol {
      li {
        margin: 10px 0;
        line-height: 1.8;

      }
    }


  }
}

.list_more_book {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item_news {
    width: 33.333%;
    @include calc(width, '33.3333% - 10px');
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    @include tran_slow_03();

    @include maxWidth(768px) {
      @include calc(width, '50% - 10px');
    }

    @include maxWidth(480px) {
      width: 100%;
    }

    .post_item {
      // border: 1px solid #ccc;
      // padding: 10px;
      display: flex;
      flex-direction: column;
      @include tran_slow_03();

      @include maxWidth(480px) {
        flex-direction: row;
      }

      .thumbnail_post {
        height: 180px;

        background-color: #ccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 10px;
        @include tran_slow_03();

        @include maxWidth(480px) {
          height: 90px;
          width: 120px;
        }

        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
      }

      .content_post {
        flex: 1;
        -ms-flex: 1;

        @include maxWidth(480px) {
          padding-left: 10px;
        }

        h4 {
          margin-bottom: 10px;

          a {
            text-decoration: none;
            outline: none;
            color: #333;
            font-size: 16px;
            line-height: 1.2;
            font-weight: bold;
            @include break_word(2, 22px);
            @include tran_slow_03();

            @include maxWidth(480px) {
              @include break_word(4, 22px);
            }

            @include hofo() {
              color: map_get($main-colors, 1);
            }
          }
        }

        .desc {
          p {
            line-height: 1.3;
          }

          @include tran_slow_03();

          @include maxWidth(480px) {
            display: none;
          }
        }
      }
    }
  }
}

.box_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 35px;

  .txt_social {
    font-size: 16px;
    font-weight: bold;
    color: #585858;
  }

  .list_social {
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        outline: none;
        width: 32px;
        height: 32px;
        @include borderRadius(50%);
        background-color: #ccc;
        display: block;
        @include tran_slow_03();

        @include hofo() {
          opacity: 0.7;
        }

        &.social_icon {
          background-image: url('@/assets/images/icon/facebook.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;

          &.fa {
            background-image: url('@/assets/images/icon/facebook.svg');
          }

          &.in {
            background-image: url('@/assets/images/icon/instagram.svg');
          }

          &.go {
            background-image: url('@/assets/images/icon/google.svg');
          }

          &.tw {
            background-image: url('@/assets/images/icon/twitter.svg');
          }
        }
      }
    }
  }
}

.warrap_detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;

  .block_warrap_left {
    @include calc(width, '100% - 320px');
    @include tran_slow_03();

    @include maxWidth(768px) {
      width: 100%;
    }

    .block_header {
      box-shadow: 0 0 24px 4px rgba(0, 25, 53, .04);
      border: 1px solid #eee;
      padding: 20px 10px;
      display: flex;
      flex-direction: row;
      @include tran_slow_03();

      @include maxWidth(768px) {
        flex-direction: column;
      }

      .block_thumb {
        @include tran_slow_03();
        width: 240px;
        @include tran_slow_03();

        @include maxWidth(480px) {
          width: 100%;
        }

        figure {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -ms-object-fit: cover;
          }
        }
      }

      .block_content {
        @include tran_slow_03();
        @include calc(width, '100% - 240px');
        padding-left: 30px;
        @include tran_slow_03();

        @include maxWidth(768px) {
          width: 100%;
          padding-left: 0;
        }

        .story_title {
          margin-bottom: 5px;
          font-size: 32px;
          line-height: 1.2;
          font-weight: bold;
          color: map_get($main-colors, 1);
        }

        .count_view {
          font-size: 14px;
          color: #666;
          margin-bottom: 20px;
        }

        .list_detail {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          padding: 10px;
          @include borderRadius(10px);
          border: 1px dashed #e1e1e1;

          li {
            display: flex;
            flex-direction: row;
            font-size: 14px;
            padding: 8px 0;
            border-bottom: 1px dashed #999;

            &:last-child {
              border-bottom: none;
            }

            .title {
              font-weight: normal;
              color: #777;
              min-width: 120px;
            }

            .content_txt {
              font-weight: bold;

              a.category_span {
                display: inline;
                margin-right: 5px;
                text-decoration: none;
                outline: none;
                @include tran_slow_03();
                color: #333;

                &:last-child {
                  margin-right: 0;
                }

                @include hofo() {
                  color: map_get($main-colors, 1);
                }
              }
            }
          }
        }

        .block_social_wishlish {
          display: flex;
          flex-direction: row;
          padding: 10px;
          margin-top: 20px;
          justify-content: space-between;
          flex-wrap: wrap;
          background: #dfebff;
          border-radius:4px;

          .social_sharing {
            display: flex;
            flex-direction: row;
            align-items: center;

            li {
              color: #333;
              margin-right: 10px;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                text-decoration: none;
                outline: none;
                @include tran_slow_03();

                @include hofo() {
                  opacity: 0.7;
                }

                &.icon {
                  width: 30px;
                  height: 30px;
                  background-image: url('@/assets/images/icon/google.svg');
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  display: block;

                  &.fb {
                    background-image: url('@/assets/images/icon/facebook.png');
                  }

                  &.twitter {
                    background-image: url('@/assets/images/icon/twitter.svg');
                  }

                  &.zalo {
                    background-image: url('@/assets/images/icon/zalo.svg');
                  }
                }
              }
            }
          }

          .wishlish_block {
            display: flex;
            flex-direction: row;
            align-items: center;

            li {
              @include borderRadius(4px);
              cursor: pointer;

              &.book_check {
                margin-right: 5px;
                font-weight: bold;
                color: #2051a2;
              }

              &.book_on {
                pointer-events: none;
                font-size: 12px;
                font-style: italic;
                color: #a5a5a5;
              }
              &.trash__icon{
                width: 30px;
                height: 30px;
                background-color: transparent;
                background-image: url('@/assets/img/components/pages/category/trash.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 18px;
                @include tran_slow_03();
              }
              &.wish_lish {
                width: 30px;
                height: 30px;
                background-color: #6c757d;
                background-image: url('@/assets/images/icon/bookmark.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 18px;
                @include tran_slow_03();

                &.on {
                  pointer-events: none;
                  background-image: url('@/assets/images/icon/bookmarkon.svg');
                }

                @include hofo() {
                  background-image: url('@/assets/images/icon/bookmarkon.svg');
                }
              }
            }
          }
        }

        .block_reading {
          display: flex;
          flex-direction: column;

          .block_title {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
          }

          .content_reading {
            background-color: rgba($color: #00a1ff, $alpha: 0.22);

            p {
              padding: 10px;
              margin: 0;

            }

            a {
              width: 100%;
              text-decoration: none;
              outline: none;
              color: #333;
              padding: 10px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              span {
                font-style: italic;
                font-size: 14px;
                color: #505050;
              }
            }
          }
        }
      }
    }
  }

  .block_warrap_right {
    width: 320px;
    @include tran_slow_03();

    @include maxWidth(768px) {
      display: none;
    }

    .box_warap_block {
      padding-left: 20px;
    }
  }
}

.content_story_content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #e1e1e1;
  padding: 20px;
  @include tran_slow_03();

  @include maxWidth(480px) {
    padding: 10px;
  }

  .block_title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .block_content_story {
    line-height: 1.8;
    font-size: 16px;

    p {
      line-height: 1.5;
      font-size: 16px;
      @include tran_slow_03();

      @include maxWidth(768px) {
        font-size: 18px;
      }
    }
  }
}

.block_chapter {
  margin-top: 30px;

  .title_block {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    padding-left: 10px;

    &::before {
      content: '';
      width: 2px;
      height: 80%;
      background-color: map_get($main-colors, 1);
      position: absolute;
      left: 0;
      top: 10%;
    }
  }
}

.list_chapter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    padding: 10px;
    width: 46%;
    border: 1px dashed #e1e1e1;
    margin-bottom: 5px;
    @include tran_slow_03();
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include maxWidth(1024px) {
      width: 100%;
    }

    @include maxWidth(768px) {
      width: 46%;
    }

    @include maxWidth(568px) {
      width: 100%;
    }

    &:nth-child(2n+1) {
      // background-color: #e1e1e1;
    }

    p {
      text-decoration: none;
      outline: none;
      font-size: 16px;
      color: #333;
      @include tran_slow_03();
      @include break_word(2, 23);
      cursor: pointer;
      @include hofo() {
        color: map_get($main-colors, 1);
      }

      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content:space-between;

      span {
        width: 14px;
        height: 14px;
        text-indent: -9999px;
        background-position: center;
        background-size: 14px;
        background-repeat: no-repeat;

        &.unlock {
          background-image: url('@/assets/img/icon/unlock.svg');
        }

        &.lock {
          background-image: url('@/assets/img/icon/lock.svg');
        }
      }

      &.unlock {
        span {
          background-image: url('@/assets/img/icon/unlock.svg');
        }
      }

      &.lock {
        span {
          background-image: url('@/assets/img/icon/lock.svg');
        }
      }
    }
  }
}

.content_article_warrap {
  font-size: 18px;
  line-height: 1.5;
  padding: 10% 10%;
  @include tran_slow_03();
  background-image: url('@/assets/images/bg_article/12.png');
  background-repeat: repeat;
  border: 5px solid #424242;

  @include maxWidth(768px) {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.content_article_warrap {
  .none_show {
    display: none !important;
  }

  img {
    max-width: 80%;
  }
}

.list_chapter {
  .pagination {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
      padding: 0;
      margin-right: 10px;
      background-color: none !important;

      &.active {
        a {
          color: map_get($main-colors, 1);
          background-color: transparent;
          pointer-events: none;
        }
      }

      &:nth-child(2n) {
        background-color: none !important;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        height: 30px;
        width: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include borderRadius(50%);
        background-color: #e1e1e1;
        text-decoration: none;
        outline: none;
        color: #333;
      }
    }
  }
}

.content_story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  @include borderRadius(6px);
  background-color: #e1e1e1;
  margin-bottom: 20px;

  h1 {
    font-size: 32px;
    font-weight: bold;
    color: map_get($main-colors, 1);
    margin-bottom: 15px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #888;
  }
}

.list_control_chapter {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  display: block;

  &.top {
    width: 100%;
    margin-bottom: 20px;
    position: absolute;
    bottom: 10px;
  }

  &.bot {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &:after {
    @include clear_fix();
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 0 25px;
    background-color: #424242;
    color: #fff;
    text-decoration: none;
    outline: none;
    @include tran_slow_03();

    @include maxWidth(768px) {
      height: 32px;
      padding: 0 15px;
    }

    @include hofo() {
      background-color: map_get($main-colors, 1);
      opacity: 0.7;
      color: #fff;
      text-decoration: none;
      outline: none;
    }

    &.prev {
      float: left;
      @include border_radius(0, 12px, 12px, 0);
    }

    &.next {
      float: right;
      @include border_radius(12px, 0, 0, 12px);
    }
  }
}

.warrap_detail {
  .block_info {
    .block_title {
      h2 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        color: #333;
        border-bottom: 1px dashed #e1e1e1;
        padding: 10px;

        strong {
          font-size: 20px;
          font-weight: bold;
          color: map_get($main-colors, 1);
        }
      }

    }

    .block_content {
      margin-top: 15px;
      margin-bottom: 30px;
      border-bottom: 1px dashed #e1e1e1;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-bottom: 15px;

      .des {
        p {
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
  }
}

@keyframes setting {
  from {
    @include xoay(0deg);
  }

  to {
    @include xoay(360deg);
  }
}

.block_setting {
  position: fixed;
  right: 10px;
  bottom: 20%;

  ul {
    display: flex;
    flex-direction: column;

    li {
      margin-bottom: 15px;
      cursor: pointer;

      .gotop {
        cursor: pointer;
        display: block;
        height: 40px;
        width: 40px;
        background-image: url('@/assets/images/top.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
        pointer-events: none;

        &.on {
          opacity: 1;
          pointer-events: visible;
        }
      }

      &.action_bookmark {
        @include hofo() {
          .bookmark {
            background-image: url('@/assets/images/icon/bookmark.svg');
          }
        }

        &.on {
          pointer-events: none;

          .bookmark {
            background-image: url('@/assets/images/icon/bookmarkon.svg');
          }
        }

        .bookmark {
          cursor: pointer;
          display: block;
          height: 40px;
          width: 40px;
          background-image: url('@/assets/images/icon/bookmark.svg');
          background-position: center;
          background-color: #6c757d;
          background-repeat: no-repeat;
          background-size: 70%;
          pointer-events: none;
          @include borderRadius(4px);
          @include tran_slow_03();


        }
      }

      a {
        display: flex;

        .item_setting {
          height: 40px;
          width: 40px;
          background-image: url('@/assets/images/settings.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          animation-duration: 2s;
          animation-name: setting;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
    }
  }
}

.block_setting_custom {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  background-color: map_get($main-colors, 1);
  color: #fff;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;

      &.setting {


        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-decoration: none;
          outline: none;
          color: #fff;

          .item_setting {
            margin-right: 5px;
            height: 30px;
            width: 30px;
            background-image: url('@/assets/images/settings.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            animation-duration: 2s;
            animation-name: setting;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
        }
      }

      &.action_bookmark {
        @include hofo() {
          .bookmark {
            background-image: url('@/assets/images/icon/bookmark.svg');
          }
        }

        &.on {
          pointer-events: none;

          .bookmark {
            background-image: url('@/assets/images/icon/bookmarkon.svg');
          }
        }

        .bookmark {
          margin-right: 5px;
          cursor: pointer;
          display: block;
          height: 30px;
          width: 30px;
          background-image: url('@/assets/images/icon/bookmark.svg');
          background-position: center;
          background-color: #6c757d;
          background-repeat: no-repeat;
          background-size: 70%;
          pointer-events: none;
          @include borderRadius(4px);
          @include tran_slow_03();


        }
      }
    }
  }
}

.modal-backdrop.in {
  opacity: 0 !important;
}

.control_color {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;

  .group_color {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-form-label {
      margin-right: 15px;
    }

    .box_color {
      width: 80px;
      height: 40px;
    }
  }
}

.control_bg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .list_bg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item_bg {
      margin-right: 10px;
      margin-bottom: 10px;
      width: 40px;
      height: 40px;
      @include tran_slow_03();
      @include borderRadius(50%);
      border: 2px solid #e1e1e1;
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
      cursor: pointer;

      &.active {
        border: 2px solid map_get($main-colors, 1);
      }

      &.bg_1 {
        background-image: url('@/assets/images/bg_article/1.png');
      }

      &.bg_2 {
        background-image: url('@/assets/images/bg_article/2.png');
      }

      &.bg_3 {
        background-image: url('@/assets/images/bg_article/3.png');
      }

      &.bg_4 {
        background-image: url('@/assets/images/bg_article/4.png');
      }

      &.bg_5 {
        background-image: url('@/assets/images/bg_article/5.png');
      }

      &.bg_6 {
        background-image: url('@/assets/images/bg_article/6.png');
      }

      &.bg_7 {
        background-image: url('@/assets/images/bg_article/7.png');
      }

      &.bg_8 {
        background-image: url('@/assets/images/bg_article/8.png');
      }

      &.bg_9 {
        background-image: url('@/assets/images/bg_article/9.png');
      }

      &.bg_10 {
        background-image: url('@/assets/images/bg_article/10.png');
      }

      &.bg_11 {
        background-image: url('@/assets/images/bg_article/11.png');
      }

      &.bg_12 {
        background-image: url('@/assets/images/bg_article/12.png');
      }

      &.bg_13 {
        background-image: url('@/assets/images/bg_article/13.png');
      }

      &.bg_14 {
        background-image: url('@/assets/images/bg_article/14.png');
      }

      &.bg_15 {
        background-image: url('@/assets/images/bg_article/15.png');
      }
    }
  }
}
