.section__warrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;

  .block__warrap_left {
    @include calc(width, '100% - 320px');
    @include tran_slow_03();

    @include maxWidth(768px) {
      width: 100%;
    }

    .block_info {
      .block_title {
        h2 {
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 500;
          color: #333;
          border-bottom: 1px dashed #e1e1e1;
          padding: 10px;

          strong {
            font-size: 20px;
            font-weight: bold;
            color: map_get($main-colors, 1);
          }
        }

      }

      .block_content {
        margin-top: 15px;
        margin-bottom: 30px;
        border-bottom: 1px dashed #e1e1e1;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-bottom: 15px;

        .des {
          p {
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }
    }

    .list_story_by_category {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 20px;

      .war_item {
        width: 25%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
        @include tran_slow_03();

        @include maxWidth(980px) {
          width: 33.333333%;
        }

        @include maxWidth(480px) {
          width: 50%;
        }

        .wrap_item_thumb {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          outline: none;
          overflow: hidden;
          @include borderRadius(10px);
          @include tran_slow_03();

          @include hofo() {
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

            .box_info {
              background-color: map_get($main-colors, 1);

              .story_name {
                color: #fff;
              }
            }

            .box_thumb {
              opacity: 0.7;
            }
          }

          .box_thumb {
            width: 100%;
            height: 240px;
            background-color: #e1e1e1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include tran_slow_03();

            @include maxWidth(980px) {
              height: 280px;
            }

            @include maxWidth(480px) {
              height: 220px;
            }
          }

          .box_info {
            height: 70px;
            background-color: #fff;
            padding-left: 10px;
            @include border_radius(0, 0, 6px, 6px);
            @include tran_slow_03();

            .category_name {
              margin-top: 5px;

              ul {
                display: flex;
                flex-direction: row;
                align-items: center;

                li {
                  padding: 5px;
                  @include borderRadius(3px);
                  font-size: 10px;
                  background-color: map_get($main-colors, 1);
                  color: #fff;
                  display: inline;
                  margin-bottom: 0;
                }
              }
            }

            .story_name {
              margin-top: 5px;
              font-size: 14px;
              color: #666;
              @include break_word(2, 18);
            }
          }
        }
      }
    }
  }

  .block__warrap_right {
    width: 320px;
    @include tran_slow_03();

    @include maxWidth(768px) {
      display: none;
    }

    .box_warap_block {
      padding-left: 20px;
    }
  }
}

.block_chapter {
  .pagination {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
      padding: 0;
      margin-right: 10px;
      background-color: none !important;

      &.active {
        a {
          color: map_get($main-colors, 1);
          background-color: transparent;
          pointer-events: none;
        }
      }

      &:nth-child(2n) {
        background-color: none !important;
      }

      &:last-child {
        margin-right: 0;
      }

      button {
        height: 30px;
        min-width: 86px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include borderRadius(6px);
        background-color: #e1e1e1;
        text-decoration: none;
        outline: none;
        color: #333;
        border: none;
        outline: none;
        cursor: pointer;
        @include tran_slow_03();
        @include hofo(){
          color: #fff;
          background-color: map_get($main-colors, 1);
        }
      }
    }
  }
}
