$section__membber: 'section__membber';

.#{$section__membber} {
  margin-top: 30px;
  margin-bottom: 30px;

  .warrap__member {
    display: flex;
    flex-direction: row;

    &__left {
      width: 320px;
    }

    &__right {
      width: calc(100% - 320px);
      padding-left: 20px;

      .col-auto {
        display: none;
      }
    }
  }
}
