$info_member : 'info_member';
$action_member : 'action_member';
$warrap_info_member : 'warrap_info_member';

.#{$warrap_info_member} {
  background-color: #c3daff;
  @include borderRadius(4px);

  .#{$action_member} {
    display: flex;
    flex-direction: row;
    padding: 10px;

    &__btn {
      margin-right: 10px;
      flex: 1;
      -ms-flex: 1;
      height: 30px;
      padding: 0 10px;
      outline: none;
      border: none;
      @include borderRadius(4px);

      &.col__yellow {
        background-color: #fbf41a;
        color: #333;
      }

      &.col__blue {
        background-color: #09e8ff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .#{$info_member} {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #86b3ff;

    &__avatar {
      width: 50px;
      height: 50px;
      position: relative;
      cursor: pointer;
      .upload__icon {
        height: 14px;
        width: 14px;
        position: absolute;
        right: 0;
        bottom: 0;
        @include borderRadius(2px);
        background-color: rgba(14, 14, 14, 0.6);
        background-image: url('@/assets/img/icon/camera.svg');
        background-position: center;
        background-size: 8px;
        background-repeat: no-repeat;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -ms-object-fit: cover;

      }
    }

    &__user {
      width: calc(100% - 50px);
      padding: 5px;
      display: flex;
      flex-direction: column;
      position: relative;

      span {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        &.name {
          font-weight: bold;
          color: map_get($main-colors, 1);
        }
      }
    }
  }
}
