$warrap_sidebar: 'warrap_sidebar';

.#{$warrap_sidebar} {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  @include borderRadius(4px);

  &__list {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .item {
      margin-bottom: 10px;
      padding: 10px 0;

      &:last-child {
        margin-bottom: 0;
      }

      .sidebar-link {
        color: #333;
        text-decoration: none;
        outline: none;
        display: flex;
        flex-direction: row;
        align-items: center;

        .icon_arrow_next {
          margin-left: auto;
          width: 14px;
          height: 14px;
          background-image: url('@/assets/img/icon/icon_arrow_next.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .icon {
          margin-right: 5px;
        }

        &.active {
          color: map_get($main-colors, 1);
          .icon_arrow_next {
            background-image: url('@/assets/img/icon/icon_arrow_next_h.svg');
          }
        }
      }
    }
  }
}

$icon: 'icon';

.#{$icon} {
  width: 14px;
  height: 14px;
  background-image: url('@/assets/img/icon/info_user.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-info_user {
    background-image: url('@/assets/img/icon/info_user.svg');

  }

  &-save_book {
    background-image: url('@/assets/img/icon/save_book.svg');
  }
}
