<template>
  <footer class="main_footer">
    <div class="container">
      <div class="box_top_footer">
        <Logo />
        <div class="des">
          <p>
            Website đọc truyện nhanh nhất, thân thiện nhất, và luôn cập nhật mới
            nhất. Đọc truyện online, đọc truyện chữ, truyện full, truyện hay. Hỗ
            trợ mọi trình duyệt và thiết bị di động.
          </p>
        </div>
      </div>
      <div class="coppyright">
        Copyright © 2021 - 2030
        <nuxt-link to="/">
          www.truyencc.net
        </nuxt-link> - All right reserved
      </div>
    </div>
  </footer>
</template>
<script>
import Logo from '@/components/common/logo.vue'
export default {
  components: { Logo }
}
</script>
<style lang="scss" src="../../../assets/scss/footer.scss">
</style>
