<template>
  <ModalAcount :config="config">
    <template #content>
      <div class="warrap_authen">
        <div class="box_authen">
            <header class="header_authen">
            <h1>ĐĂNG NHẬP</h1>
          </header>
          <main class="main_authen">
            <form>
              <div class="box_login">
                <BaseInput
                  ref="email"
                  v-model="dataLogin.email"
                  type="email"
                  name="email"
                  required
                  label="Email"
                  placeholder="email"
                  :limit-input="50"
                />
                <BaseInput
                  ref="password"
                  v-model="dataLogin.password"
                  type="password"
                  name="password"
                  required
                  label="Mật khẩu"
                  placeholder="Mật khẩu"
                  :max-length="32"
                  :min-length="6"
                  :limit-input="32"
                />
                <BaseButton
                  class="mt-1 mb-1"
                  width="100%"
                  class-name="btn btn_primary"
                  @click="onSubmitLogin()"
                >
                  ĐĂNG NHẬP
                </BaseButton>
              </div>
            </form>
            <p class="authen_text">
              <span class="" @click.prevent="onShowRegister">Đăng ký</span>
            </p>
          </main>
        </div>
      </div>
    </template>
  </ModalAcount>
</template>

<script>
import { mapGetters } from 'vuex'
import ModalAcount from '@/components/common/modal-account'
import { MODAL } from '@/config/constant'
import ModalMixin from '@/mixins/modal'
import loginMixin from '@/mixins/user/login'
import BaseInput from '@/components/common/base-input'
import BaseButton from '@/components/common/base-button'

export default {
  components: { ModalAcount, BaseInput, BaseButton },
  mixins: [ModalMixin, loginMixin],
  data () {
    return {
      config: {
        id: MODAL.LOGIN,
        class: 'modal--type1 modal--login'
      },
      dataLogin: {
        email: '',
        password: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      localToken: 'member/getToken'
    })
  },
  methods: {
    onSubmitLogin () {
      const refs = ['email', 'password']
      const refsValid = this.$_validateMixin_refs(refs)
      if (!refsValid) {
        return
      }
      this.$_loginMixin_login()
    },
    onShowRegister () {
      this.$_modalMixin_closeModal(MODAL.LOGIN)
      this.$_modalMixin_openModal(MODAL.REGISTER)
    }
  }
}
</script>
