<template>
  <ModalAccount :config="config">
    <template>
      <div class="warrap_authen">
        <div class="box_authen">
          <header class="header_authen">
            <h1>Đăng Ký</h1>
          </header>
          <main class="main_authen">
            <BaseInput
              ref="name"
              v-model="dataRegister.name"
              type="text"
              required
              label="Họ và tên"
              placeholder="Họ và tên"
              :max-length="32"
              :min-length="6"
              :limit-input="32"
            />
            <BaseInput
              ref="email"
              v-model="dataRegister.email"
              type="email"
              name="email"
              required
              label="Email"
              placeholder="email"
              :limit-input="50"
            />
            <BaseInput
              ref="password"
              v-model="dataRegister.password"
              type="password"
              name="password"
              required
              label="Mật khẩu"
              placehoder="Mật khẩu"
              :max-length="32"
              :min-length="6"
              :limit-input="32"
            />
            <BaseInput
              ref="password_confirmation"
              v-model="dataRegister.password_confirmation"
              type="password"
              name="password_confirmation"
              required
              label="Xác nhận lại mật khẩu mới"
              placeholder="Nhập lại mật khẩu mới"
              :max-length="32"
              :min-length="6"
              :limit-input="32"
              :same-as="dataRegister.password"
            />
            <BaseButton
              class="mt-1 mb-1"
              width="100%"
              class-name="btn btn_primary"
              @click="onSubmitRegister()"
            >ĐĂNG KÝ</BaseButton
            >
            <p class="authen_text">
              <span class="" @click.prevent="onShowLogin">Đăng nhập</span>
            </p>
          </main>
        </div>
      </div>
    </template>
  </ModalAccount>
</template>
<script>
import ModalAccount from '@/components/common/modal-account'
import { MODAL } from '@/config/constant'
import ModalMixin from '@/mixins/modal'
import validateMixin from '@/mixins/validate'
import registerMixin from '@/mixins/user/register'
import BaseInput from '@/components/common/base-input'
import BaseButton from '@/components/common/base-button'

export default {
  components: { ModalAccount, BaseInput, BaseButton },
  mixins: [ModalMixin, validateMixin, registerMixin],
  data () {
    return {
      config: {
        id: MODAL.REGISTER,
        class: 'modal--type1 modal--register'
      },
      loading: false,
      dataRegister: {
        email: '',
        name: '',
        password: '',
        password_confirmation: ''
      },
      errorForm: {
        error_email: '',
        error_password: ''
      }
    }
  },
  methods: {
    // checkValidatePassword() {
    //   return this.dataRegister.password === this.dataRegister.password_confirm;
    // },
    onShowLogin () {
      this.$_modalMixin_closeModal(MODAL.REGISTER)
      this.$_modalMixin_openModal(MODAL.LOGIN)
    },
    onSubmitRegister () {
      const refs = ['email', 'name', 'password', 'password_confirmation']
      const refsValid = this.$_validateMixin_refs(refs)
      if (!refsValid) {
        return
      }
      this.$_registerMixin_register()
    }
  }
}
</script>
