<template>
  <div class="main-warap">
    <section class="main_section">
      <div class="container">
        <div v-if="sd__listCategory" class="warrap_detail">
          <ul class="list_category">
            <li
              v-for="(category, index) in sd__listCategory"
              :key="index"
              class="item_cate"
            >
              <nuxt-link :to="'/the-loai/' + category.category_slug" class="on">
                {{ category.category_name }}
              </nuxt-link>
            </li>
          </ul>
        </div>
        <div v-else class="warrap_detail_none">
          <p class="none_data">
            <span class="loading" />Vui lòng đợi !
          </p>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import STORYAPI from '@/api/story'
export default {
  data () {
    return {
      sd__listCategory: null
    }
  },
  head: {
    title:
      'Danh sách thể loại truyện | Truyencc.net - Truyện Online Hay nhất Và cập nhật liên tục',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content:
          'www.truyencc.net là trang đọc truyện online hay và mới nhất cập nhật liên tục từ nhiều nguồn khác nhau trên mạng.Đặc biệt có phiên bản đọc truyện cho di động.'
      }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },
  mounted () {
    this.fectchListcategory()
  },
  methods: {
    async fectchListcategory () {
      try {
        const listCategoryData = await this.$axios.$get(
          STORYAPI.STORY_LIST_CATEGORY
        )
        if (listCategoryData) {
          this.sd__listCategory = listCategoryData.data
        }
      } catch (error) {}
    }
  }
}
</script>
<style lang="scss" src="assets/scss/components/_the-loai.scss"></style>
