<template>
  <div class="warrap__block_content">
    <div class="block_info">
      <div class="block_title">
        <h2>Danh sách truyện {{ dataDetailCategory.category_name }}</h2>
      </div>
      <div v-if="dataDetailCategory.category_description" class="block_content">
        <div class="des">
          <p v-html="dataDetailCategory.category_description" />
        </div>
      </div>
    </div>
    <ul v-if="dataStory" class="list_story_by_category">
      <li v-for="(story, key) in dataStory.data" :key="key" class="war_item">
        <nuxt-link :to="'/truyen/' + story.story_slug" class="wrap_item_thumb">
          <div
            class="box_thumb"
            :style="{
              backgroundImage:
                'url(https://img.truyencc.net/story_avatar/' +
                story.story_avatar +
                ')',
            }"
          />
          <div class="box_info">
            <div class="category_name">
              <ul>
                <li>{{ story.story_count_chappter }} chương</li>
              </ul>
            </div>
            <div class="story_name">
              {{ story.story_title }}
            </div>
          </div>
        </nuxt-link>
      </li>
    </ul>
    <div class="block_chapter">
      <div class="pagination my-3 justify-content-center">
        <div v-if="dataStory.current_page > 1">
          <button @click.prevent="onPaginationPrev(dataStory.current_page - 1)" class="btn btn-outline-primary p-1 mr-2">
            <span aria-hidden="true">« Trở lại</span>
          </button>
        </div>
        <div v-if="dataStory.last_page > dataPage">
          <button @click.prevent="onPaginationNext(dataStory.current_page + 1)" class="btn btn-outline-primary p-1">
            <span aria-hidden="true">Tiếp tục »</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    dataStory: {
      type: Object,
      default: null
    },
    dataDetailCategory: {
      type: Object,
      default: null
    },
    dataPage: {
      type: Number,
      default: 0
    }
  },
  methods: {
    // eslint-disable-next-line camelcase
    onPaginationPrev (future_page) {
      this.$emit('onPaginationPrev', { future_page })
    },
    // eslint-disable-next-line camelcase
    onPaginationNext (future_page) {
      this.$emit('onPaginationNext', { future_page })
    }
  }
}
</script>
<style lang="scss">
.warrap__block_content {
    .block_info {
      .block_title {
        border-bottom: 1px dashed #ccc;
        h2 {
          font-size: 20px;
          margin: 10px 0;
          padding: 0 5px;
        }
      }
      .block_content {
        border-bottom: 1px dashed #ccc;
        .des {
          margin: 10px 0;
          padding: 5px;
          p {
            font-size: 18px;
          }
        }
      }
    }
    .list_story_by_category {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .war_item {
        width: 25%;
        padding: 10px;
        margin: 15px 0;
        .wrap_item_thumb {
          display: flex;
          flex-direction: column;
          .box_thumb {
            width: 100%;
            height: 260px;
          }
          .box_info {
            padding: 10px;
            border-radius: 5px;
            .category_name {
              ul {
                li {
                  background-color: #4285f4;
                  color: white;
                  width: 70px;
                  font-size: 12px;
                  text-align: center;
                  padding: 2px 0;
                  margin-bottom: 10px;
                }
              }
            }
            .story_name {
              color: #666;
              line-height: 18px;
              text-decoration: none;
              outline: none;
              font-size: 15px;
              transition: all 0.3s ease-in-out 0s;
              word-wrap: break-word;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              display: block;
              display: -webkit-box;
              max-height: 36px;
              line-height: 18px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              white-space: normal;
              word-break: normal;
            }
          }
        }
      }
      .war_item:hover {
        .wrap_item_thumb {
          .box_info {
            background-color: #4285f4;
            .story_name {
              color: white;
            }
          }
        }
      }
    }
}
</style>
