<template>
  <div class="wrap_search mt-5">
    <div class="container">
      <div class="form_search">
        <div class="title_search">
          <h1>Tìm Kiếm Nâng cao</h1>
        </div>
      </div>
      <div class="main_filter">
        <div class="row">
          <div class="col">
            <div class="group__control my-2">
              Tiêu đề truyện
            </div>
            <div class="form_control">
              <input v-model="dataFilter.key_title" type="text" class="input" placeholder="Nhập tên truyện...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="group__control my-2">
              Tác giả
            </div>
            <div class="form_control">
              <input
                v-model="dataFilter.key_author"
                type="text"
                class="input"
                placeholder="Nhập tên tác giả ..."
              >
            </div>
          </div>
          <div v-if="categoryList" class="col">
            <div class="group__controll">
              <div class="title my-2">
                Thể loại
              </div>
              <div class="form_control select">
                <select v-model="dataFilter.key_category" class="select">
                  <option value="">
                    Chọn thể loại
                  </option>
                  <option v-for="(item, key) in categoryList" :key="key" :value="item.category_slug">
                    {{ item.category_name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="group__control">
              <div class="title my-2">
                Số Chương
              </div>
              <div v-if="filterChaper" class="form_contro select">
                <select v-model="dataFilter.key_chapter" class="select w-100 p-1 border-0">
                  <option value="">
                    Chọn số chương
                  </option>
                  <option v-for="(value, item) in filterChaper" :key="item" :value="value">
                    {{ item }}
                  </option>
                  <span class="dropdown" />
                </select>
              </div>
            </div>
          </div>
          <div class="col w-100 h-100">
            <div class="group__control">
              <div class="form_control button d-flex align-center">
                <b-button variant="outline-dark" type="submit" class="btn_reset" @click.prevent="onReset">
                  RESET
                </b-button>
                <button
                  type="submit"
                  class="search btn btn-outline-primary"
                  :class="{ disable: !isDisableSearch }"
                  @click.prevent="onFilter"
                >
                  SEARCH
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main__result">
        <div class="content py-3 px-2">
          <div v-if="!isLoading" class="loadding">
            <img src="~/assets/img/icon/loading.svg">
            <p>Đang tìm kiếm...</p>
          </div>
          <div v-if="resultList" class="info_resut mb-2s">
            <p>Có <strong>{{ total }} </strong>truyện được tìm thấy</p>
            <p>Trang <strong>{{ pageCurrent }}</strong> / <strong>{{ totalPage }}</strong></p>
          </div>
          <div v-if="isLoading" class="list__result">
            <div v-for="(story, key) in resultList" :key="key" class="result_item">
              <nuxt-link :to="'/truyen/' + story.story_slug" class="warrap__story">
                <div
                  class="thumbnail"
                  :style="{ backgroundImage:
                    'url(' + IMG_PRODUCT_URL + story.story_avatar +')',
                  }"
                />
                <div class="info">
                  <h2>{{ story.story_title }}</h2>
                  <p>
                    {{ story.story_description }}
                  </p>
                </div>
              </nuxt-link>
            </div>
          </div>
          <div v-if="resultList" class="paginate">
            <button v-if="pageCurrent > 1" type="button" class="btn btn_prev" @click.prevent="onPrevPage">
              Trang sau
            </button>
            <button v-if="pageCurrent < totalPage" type="button" class="btn btn_prev" @click.prevent="onNextPage">
              Trang tiếp
            </button>
          </div>
          <div v-if="!resultList" class="not_resutl d-flex justify-content-center">
            <p class="align-items-center text-black-50 font-weight-bold">
              Không tìm thấy kết quả
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import STORYAPI from '@/api/story'

import constanMixin from '@/mixins/constan-mixin'
import globalMixin from '~/mixins/global-mixin'
export default {
  mixins: [globalMixin, constanMixin],
  data () {
    return {
      isLoading: false,
      isSearch: false,
      total: 0,
      pageCurrent: 1,
      totalPage: 0,
      dataFilter: {
        key_title: '',
        key_author: '',
        key_category: '',
        key_chapter: ''
      },
      categoryList: [
        'Kiếm Hiệp',
        'Ngôn Tình ',
        'Xuyên Không',
        'Cổ Đại',
        'Hài Hước',
        'Truyện Teen',
        'Truyện Nữ Cường',
        'Dị Giới',
        'Song Sinh',
        'Huyền Truyện',
        'Tiên Hiệp',
        'Linh Dị Điền Văn',
        'Kiếm Hiệp',
        'Ngôn Tình ',
        'Xuyên Không',
        'Cổ Đại',
        'Hài Hước',
        'Truyện Teen',
        'Truyện Nữ Cường',
        'Dị Giới',
        'Song Sinh',
        'Huyền Truyện',
        'Tiên Hiệp',
        'Linh Dị Điền Văn',
        'Kiếm Hiệp',
        'Ngôn Tình ',
        'Xuyên Không',
        'Cổ Đại',
        'Hài Hước',
        'Truyện Teen',
        'Truyện Nữ Cường',
        'Dị Giới',
        'Song Sinh',
        'Huyền Truyện',
        'Tiên Hiệp',
        'Linh Dị Điền Văn',
        'Kiếm Hiệp',
        'Ngôn Tình ',
        'Xuyên Không',
        'Cổ Đại',
        'Hài Hước',
        'Truyện Teen',
        'Truyện Nữ Cường',
        'Dị Giới',
        'Song Sinh',
        'Huyền Truyện',
        'Tiên Hiệp',
        'Linh Dị Điền Văn'
      ],
      resultList: null,
      filterChaper: {
        'Chọn số chương': '',
        '1 - 10 chương': '10',
        '10 - 50 chương': '50',
        '50 - 200 chương': '200',
        '200 - 500 chương': '500',
        'Nhiều hơn 500 chương': 'more'
      }
    }
  },
  computed: {
    isDisableSearch () {
      if (
        this.dataFilter.key_title.length > 0 ||
        this.dataFilter.key_author.length > 0 ||
        this.dataFilter.key_category.length > 0 ||
        this.dataFilter.key_chapter.length > 0
      ) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        return (this.isSearch = true)
      } else {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        return (this.isSearch = false)
      }
    }
  },
  methods: {
    async onFilter () {
      if (this.isSearch) {
        try {
          const response = await this.$axios.$get(
            STORYAPI.SEARCHING_ADVANCE +
            '?key_title=' +
            this.dataFilter.key_title +
            '&key_author=' +
            this.dataFilter.key_author +
            '&key_category=' +
            this.dataFilter.key_category +
            '&key_chapter=' +
            this.dataFilter.key_chapter +
            '&page=' +
            this.pageCurrent
          )
          if (response) {
            this.resultList = response.data.data
            this.total = response.data.total
            this.pageCurrent = response.data.current_page
            this.totalPage = response.data.last_page
            this.isLoading = true
          }
        } catch (error) {}
      }
    },
    onNextPage () {
      if (this.pageCurrent < this.totalPage) {
        this.pageCurrent = this.pageCurrent + 1
        this.onFilter()
      }
    },
    onPrevPage () {
      if (this.pageCurrent < this.totalPage && this.pageCurrent > 1) {
        this.pageCurrent = this.pageCurrent - 1
        this.onFilter()
      }
    },
    onReset () {
      this.dataFilter.key_title = ''
      this.dataFilter.key_author = ''
      this.dataFilter.key_category = ''
      this.dataFilter.key_chapter = ''
      this.resultList = null
      this.pageCurrent = ''
      this.totalPage = ''
      this.total = ''
      this.isLoading = false
    }
  }

}
</script>
<style lang="scss" src="assets/scss/components/tim_kiem.scss">

</style>
