<template>
  <div class="block_detail">
    <StoryDetail />
    <StoryListChapter />
  </div>
</template>
<script>
import StoryDetail from '@/components/pages/story/story-detail.vue'
import StoryListChapter from '~/components/pages/story/story-list-chapter'
export default {
  components: {
    StoryListChapter,
    StoryDetail
  },
  props: {
    detailStory: {
      type: Object,
      default: null
    },
    msg: {
      type: String
    }
  }
}
</script>
