<template>
  <ModalAcount :config="config">
    <template #content>
      <div class="modal-save__cookmark">
        <div class="modal-content">
          <img
            :src="require('@/assets/img/icons/ic__success.svg')"
            alt="icon-close"
          >
          <h3 class="title">
            THÀNH CÔNG
          </h3>
          <p class="des">
            Truyện đã được lưu vào Tủ sách !
          </p>
        </div>
        <div class="modal-control_action">
          <button type="button" class="btns btn_sub" @click.prevent="hideModal">
            ĐÓNG
          </button>
        </div>
      </div>
    </template>
  </ModalAcount>
</template>

<script>
import { MODAL } from '@/config/constant'
import ModalAcount from '@/components/common/modal-account'
export default {
  components: {
    ModalAcount
  },
  data () {
    return {
      config: {
        id: MODAL.SAVE__BOOKMARK,
        class: 'modal--type1 modal--bookmark'
      }
    }
  },
  methods: {
    hideModal () {
      this.$root.$emit('bv::hide::modal', MODAL.SAVE__BOOKMARK)
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-save__cookmark {
  min-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      height: 65px;
      width: 65px;
      margin-bottom: 20px;
    }
    .title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .des {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 20px;
    }
  }
  .modal-control_action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .btns {
      background-color: #e1e1e1;
      color: #333;
      border: none;
      outline: none;
      padding: 10px;
      min-width: 120px;
    }
  }
}
</style>
