<template>
  <section class="block_chapter my-4">
    <div class="title_block mb-3">
      Danh sách chương
    </div>
    <ul class="list_chapter">
      <li class="d-flex justify-content-between px-2">
        <p>Chương 1 </p>
        <span class="fa-street-view">
          <font-awesome-icon :icon="['fas', 'eye']" />
        </span>
      </li>
      <li class="d-flex justify-content-between px-2">
        <p>Chương 2 </p>
        <span class="fa-street-view">
          <font-awesome-icon :icon="['fas', 'eye']" />
        </span>
      </li>
      <li class="d-flex justify-content-between px-2">
        <p>Chương 3 </p>
        <span class="fa-street-view">
          <font-awesome-icon :icon="['fas', 'eye']" />
        </span>
      </li>
      <li class="d-flex justify-content-between px-2">
        <p>Chương 4 </p>
        <span class="fa-street-view">
          <font-awesome-icon :icon="['fas', 'eye']" />
        </span>
      </li>
      <li class="d-flex justify-content-between px-2">
        <p>Chương 5 </p>
        <span class="fa-street-view">
          <font-awesome-icon :icon="['fas', 'eye']" />
        </span>
      </li>
    </ul>
  </section>
</template>
<script>
export default {
  props: {
    storyData: {
      type: Object,
      default: null
    }
  }
}
</script>
