<template>
  <section v-if="detailStory" class="content">
    <div class="thumb">
      <div class="image">
        <img
          :src="
            'https://img.truyencc.net/story_avatar/' + storyData.story_avatar
          "
          :alt="storyData.story_title"
        >
      </div>
    </div>
    <div class="info_blog">
      <div class="title">
        <h3>{{ storyData.story_title }}</h3>
      </div>
      <div class="view">
        <h6>Lượt Xem : <span> {{ storyData.story_count_view }} </span></h6>
      </div>
      <div class="list_detail">
        <ul>
          <li>
            <span class="title_detail"> Số Chương </span><span class="content_txt"> {{
              storyData.story_count_chappter
            }}   </span>
          </li>
          <li><span class="title_detail">Tác Giả</span><span class="content_txt"><nuxt-link :to="'/tac-gia/' + storyData.author.author_slug" class="on" /> </span></li>
          <li v-if="categoryData">
            <span class="title_detail">
              Thể Loại</span><span class="content_txt"><nuxt-link
              v-for="(cate, index) in categoryData"
              :key="index"
              class="category_span"
              :to="'/the-loai/' + cate.category_slug"
            >{{ cate.category_name }}</nuxt-link></span>
          </li>
          <li>
            <span class="title_detail">Trạng Thái</span><span class="content_txt">{{
              storyData.story_status === 1 ? "Đang ra" : "Hoàn thành"
            }}</span>
          </li>
        </ul>
      </div>
      <div class="block_social_wishlish">
        <ul class="social_sharing d-flex">
          <li>Chia Sẻ</li>
          <li>
            <nuxt-link
              class="fas fa-facebook"
              :to="
                'http://www.facebook.com/sharer/sharer.php?u=https://truyencc.net' +
                  $nuxt.$route.path +
                  'title=' +
                  storyData.story_title
              "
            >
              <font-awesome-icon :icon="['fab', 'facebook-f']" />
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/" class="fas fa-twitter">
              <font-awesome-icon :icon="['fab', 'twitter']" />
            </nuxt-link>
          </li>
        </ul>
        <ul class="wishlish_block">
          <li class="box_check">
            Lưu vào tủ sách
          </li>
          <li class="box_check">
            <font-awesome-icon :icon="['fas', 'bookmark']" />
          </li>
        </ul>
      </div>
      <section v-if="storyData.story_description" class="content_story_content mt-5">
        <div class="block_title mb-3 mt-4">
          Tóm tắt
        </div>
        <div class="block_content_story description">
          - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat mollitia neque vero?
          A adipisci consequuntur corporis dolorem doloremque eaque eos, eveniet labore laudantium, nihil nisi omnis quibusdam,
          reprehenderit sunt voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, consectetur, veritatis?
          A accusantium commodi dolore eos excepturi
          hic magni molestiae odit quasi quidem quisquam recusandae, saepe suscipit tempora totam vel!
        </div>
      </section>
    </div>
  </section>
</template>
<script>
import STORY_API from '@/api/story'

import { mapGetters } from 'vuex'
export default {
  props: {
    detailStory: {
      type: Object,
      default: null
    }
  },
  computed: {
    ...mapGetters({
      currentUser: 'member/getCurrentuser'
    }),
    storyData () {
      return this.detailStory.story_detail
    },
    categoryData () {
      return this.detailStory.cates
    }
  },
  mounted () {
    this.getUser()
    this.checkStoryisSave()
  },
  methods: {
    // eslint-disable-next-line require-await
    async getUser () {
      if (this.currentUser) {
        this.dataSaveBook.user_id = this.currentUser.user.id
      }
    },

    async checkStoryisSave () {
      try {
        const data = await this.$axios.post(STORY_API.CHECK_SAVED_STORY, {
          story_id: this.dataSaveBook.story_id
        })
        if (data.data.status === 200) {
          this.statusSaveBook = true
        } else {
          this.statusSaveBook = false
        }
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
