@import '~sass-mq';

@mixin hofo() {

  &:hover,
  &:focus {
    @content;
  }
}


@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin minWidth($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin maxWidth($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}


@mixin tranOpacity($var, $time) {
  transition: $var $time;
  -webkit-transition: $var $time;
  -moz-transition: $var $time;
  -ms-transition: $var $time;
  -o-transition: $var $time;
}


@mixin xoay($val) {
  transform: rotate($val);
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -ms-transform: rotate($val);
  -o-transform: rotate($val);
}

@mixin transform($val) {
  transform: translate(0, $val);
  -webkit-transform: translate(0, $val);
  -moz-transform: translate(0, $val);
  -ms-transform: translate(0, $val);
  -o-transform: translate(0, $val);
}

@mixin borderRadius($val) {
  border-radius: $val;
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
}

@mixin clear_fix() {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

@mixin break_word($num_line, $line_height) {
  word-wrap: break-word;
  -webkit-line-clamp: $num_line;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  max-height: $line_height*$num_line + px;
  line-height: $line_height + px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  white-space: normal;
  word-break: normal;
}

@mixin shadow_bottom {
  box-shadow: 0 0px 10px 0px rgba(190, 190, 190, 0.46);
  -webkit-box-shadow: 0 0px 10px 0px rgba(190, 190, 190, 0.46);
  -moz-box-shadow: 0 0px 10px 0px rgba(190, 190, 190, 0.46);
  border-color: transparent !important;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@mixin tran_val_time($val, $time) {
  transition: $val $time ease-out;
  -webkit-transition: $val $time ease-out;
  -moz-transition: $val $time ease-out;
  -ms-transition: $val $time ease-out;
  -o-transition: $val $time ease-out;
}

@mixin tran($time) {
  transition: $time all;
  -webkit-transition: $time all;
  -moz-transition: $time all;
  -o-transition: $time all;
  -ms-transition: $time all;
}


@mixin tran_slow_03 {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@mixin tran_slow_05 {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}


@mixin border_radius($topleft, $topright, $bottomright, $bottomleft) {
  border-top-left-radius: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
}

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

// no scroll bar
@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

//@import "base/button";
