.main_footer {
  border-top: 1px solid #e1e1e1;
  padding: 25px 0;
  display: flex;
  flex-direction: column;

  .coppyright {
    text-align: center;

    a {
      font-weight: 700;
      color: #333;
      text-decoration: none;
      outline: none;
    }
  }

  .box_top_footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #e1e1e1;

    .des {
      flex: 1;
      -ms-flex: 1;
      padding-left: 20px;
      font-size: 14px;
      line-height: 1.3;
    }
  }
}

.box_top_footer {
  .box_logo {
    .logo_bg {
      a {
        width: 183px;
        height: 44px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
      }
    }
  }
}
