.main-warap {
  .main_section {
    .container {
      .section__warrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .block__warrap_left {
          width: 70%;
        }
      }
    }
  }
}
