<template>
  <div v-if="listBestStory" id="fix_widget" class="widget_box list_count_view">
    <div class="block_title">
      <h4>Đọc Nhiều Nhất</h4>
    </div>
    <div class="block_list">
      <ul class="list_items">
        <li v-for="(story, index) in listBestStory" :key="index" class="items">
          <div class="content_item">
            <nuxt-link class="item-box" :to="'/truyen/' + story.story_slug">
              <span>{{ index + 1 }}</span>
              <div class="pic">
                <figure
                  :style="{
                    backgroundImage:
                      'url('+ IMG_PRODUCT_URL +
                      story.story_avatar +
                      ')',
                  }"
                />
              </div>
              <div class="title">
                {{ story.story_title }}
              </div>
            </nuxt-link>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import STORYAPI from '@/api/story'
import constanMixin from '@/mixins/constan-mixin'

export default {
  mixins: [constanMixin],
  data () {
    return {
      listBestStory: null
    }
  },
  mounted () {
    this.fectchListBestStory()
  },
  methods: {
    async fectchListBestStory () {
      try {
        const listBestStoryData = await this.$axios.$get(
          STORYAPI.LIST_STORY_BEST_READ
        )
        if (listBestStoryData) {
          this.listBestStory = listBestStoryData.data
        }
      } catch (error) {}
    }
  }
}
</script>
<style lang="scss">
  #fix_widget {
    margin-top: 30px;
    .block_title{
      background-color: #4285f4;
      padding: 5px 5px;
      margin-bottom: 15px;
      h4 {
        font-size: 18px;
        color: white;
      }
    }
    .block_list {
      .list_items {
        display: flex;
        flex-direction: column;
        .items {
          width: 95%;
          margin: 7px 0;
          font-size: 14px;
          .content_item {
            .item-box {
              display: flex;
              flex-direction: row;
              span {
                width: 20px;
                padding: 15px;
                border-radius: 50%;
                height: 20px;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
        .items:nth-child(1),
        .items:nth-child(2),
        .items:nth-child(3){
          .content_item {
            .item-box {
              span {
                background-color: #4285f4;
                color: white;
              }
            }
          }
        }
        .items:nth-child(4),
        .items:nth-child(5),
        .items:nth-child(6),
        .items:nth-child(7),
        .items:nth-child(8),
        .items:nth-child(9),
        .items:nth-child(10) {
          .content_item {
            .item-box {
              span {
                background-color: #666;
                color: white;
              }
            }
          }
        }
      }
    }
  }
</style>
