<template>
  <div class="box_logo">
    <h1 class="logo_bg">
      <a href="/" :style="{ backgroundImage: `url('${bgLogo}')` }" />
    </h1>
  </div>
</template>

<script>
import bgLogo from '@/assets/images/logo.svg'

export default {
  data () {
    return { bgLogo }
  }
}
</script>
<style lang="scss" src="assets/scss/common/logo.scss">

</style>
