<template>
  <div class="list_story">
    <section class="main_warrap_section_site mt-5">
      <section class="qua_co_global">
        <p class="w-100 h-100" />
      </section>
    </section>
  </div>
</template>
<style lang="scss" scoped >
  .list_story {
    .main_warrap_section_site {
      .qua_co_global {
        height: 130px;
        p {
          background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/Maratea_banner.jpg");
          background-position: center;
          background-size: contain;
        }
      }
    }
  }
</style>
