<template>
  <section>
    <div v-if="sd__listCategory" class="main_list_category">
      <div class="block_wrap">
        <div class="title">
          <h3>Thể Loại Truyện</h3>
        </div>
        <div class="box_content">
          <ul class="list_item">
            <li v-for="(category, index) in sd__listCategory" :key="index" class="item">
              <div class="content_item">
                <nuxt-link :to="'/the-loai/' + category.category_slug">
                  <label class="name_cate">
                    {{ category.category_name }}
                  </label>
                </nuxt-link>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import STORYAPI from '@/api/story'

export default {
  data () {
    return {
      sd__listCategory: null
    }
  },
  mounted () {
    this.fetchFirstStory()
  },
  methods: {
    async fetchFirstStory () {
      try {
        const listCategoryData = await this.$axios.$get(
          STORYAPI.STORY_LIST_CATEGORY
        ); if (listCategoryData) {
          this.sd__listCategory = listCategoryData.data
        }
      } catch (error) {}
    }
  }
}
</script>
<style lang="scss">
  .main_list_category {
      .block_wrap {
        width: 299px;
        .title {
          background: #4285f4;
          padding: 5px;
          color: white;
          margin: 20px 0;
          h3 {
            font-size: 19px;
          }
        }
        .box_content {
          padding: 0 10px;
          .list_item {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
              width: 48%;
              padding: 6px 0;
              .content_item {
                a {
                  .name_cate {
                    color: #888;
                    display: flex;
                    align-items: center;
                  }
                  .name_cate::before {
                    margin-right: 5px;
                    content: "";
                    width: 4px;
                    height: 4px;
                    background-color: #4285f4;
                    display: inline-block;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                  }
                }
              }
              .content_item:hover {
                a {
                  .name_cate {
                    color: #4285f4;
                  }
                }
              }
            }
          }
        }
      }
  }
</style>
