.wrap_body {
  .container {
    .home_page {
      .wrap_page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .box_home_left {
          width: 400px;

          a {
            .bg_story {
              .box_thumb {
                height: 500px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
              }
            }

            .box_info {
              background-color: #4285f4;
              color: white;
              min-height: 75px;
              border-radius: 0px 0px 10px 10px;
              padding: 0 10px;
            }
          }
        }

        @media screen and (max-width: 980px) {
          .box_home_left {
            display: none;
          }
          .box_home_right {
            width: 100%;
          }
        }

        .box_home_right {
          width: 63%;

          .wrap_item_box {
            .box_item {
              width: 25%;
              padding-left: 5px;
              padding-right: 5px;
              margin-bottom: 10px;
              border-radius: 6px;
              -webkit-border-radius: 6px;
              -moz-border-radius: 6px;
              -ms-border-radius: 6px;
              -o-border-radius: 6px;
              overflow: hidden;
              -webkit-transition: all .3s ease-in-out 0s;
              -o-transition: all .3s ease-in-out 0s;
              transition: all .3s ease-in-out 0s;

              .content_item {
                a {
                  display: flex;
                  flex-direction: column;
                  text-decoration: none;
                  outline: none;
                  overflow: hidden;
                  -webkit-transition: all .3s ease-in-out 0s;
                  -o-transition: all .3s ease-in-out 0s;
                  transition: all .3s ease-in-out 0s;
                  border-radius: 6px;
                  -webkit-border-radius: 6px;
                  -moz-border-radius: 6px;
                  -ms-border-radius: 6px;
                  -o-border-radius: 6px;
                  overflow: hidden;

                  .box_thumb {
                    background-image: url("assets/img/boxthumb.png");
                    width: 100%;
                    height: 207px;
                    background-color: #e1e1e1;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    -webkit-transition: all .3s ease-in-out 0s;
                    -o-transition: all .3s ease-in-out 0s;
                    transition: all .3s ease-in-out 0s;
                  }

                  .box_info {
                    font-size: 14px;
                    color: #666;
                    min-height: 75px;
                    border-radius: 0px 0px 10px 10px;
                    padding: 0 10px;

                    .category_name {
                      ul {
                        li {
                          width: 80px;
                          padding: 5px;
                          border-radius: 3px;
                          -webkit-border-radius: 3px;
                          -moz-border-radius: 3px;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          -ms-border-radius: 3px;
                          -o-border-radius: 3px;
                          font-size: 11px;
                          background-color: #4285f4;
                          color: #fff;
                          font-weight: normal;
                          margin: 5px 0;
                        }
                      }
                    }
                  }
                }

                a:hover {
                  .box_thumb {
                    opacity: 0.7;
                  }

                  .box_info {
                    background-color: #4285f4;
                    color: white;
                    transition: all 1s;
                    -webkit-transition: inherit;
                    -moz-transition-delay: inherit;
                  }
                }
              }
            }
          }
        }

        @media screen and (max-width: 980px) {
          .box_home_right {
            width: 100%;
          }
        }
      }
    }

    .main_warrap_section_site {
      .qua_co_global {
        width: 100%;
        height: 140px;
        margin-bottom: 20px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #4D4D4D;
      }

    }

    .main_list_cate {
      .blog_list_cate {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .item_list_cate {
          width: calc(25% - 15px);
          @media screen and (max-width: 980px) {
            width: calc(50% - 15px);
            margin-bottom: 25px;
          }

          .blog_tile {
            h3 {
              border-bottom: 1px solid #ccc;
              margin-bottom: 10px;
              padding-bottom: 10px;
              font-size: 19px;
              font-weight: bold;
            }
          }

          .warrap_grid_post {
            .grid_data {
              .grid_item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px dashed #ccc;
                padding: 10px 0px;
                max-height: 82px;
                min-height: 82px;

                .count_num {
                  color: #343a40;
                  background-color: #ccc;
                  font-weight: bolder;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                .wrap_article {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  width: 85%;

                  .grid_bottom {
                    padding: 0 5px;
                    width: 100%;

                    .grid_title {
                      padding: 5px 0;
                      width: 100%;

                      a {
                        line-height: 18px;
                        text-decoration: none;
                        outline: none;
                        color: #333;
                        font-size: 15px;
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                        word-wrap: break-word;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        display: block;
                        display: -webkit-box;
                        max-height: 36px;
                        line-height: 18px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        white-space: normal;
                        word-break: normal;
                      }
                    }

                    span {
                      font-size: 12px;
                      color: #4D4D4D;
                    }
                  }

                  .thumb {
                    //width: 25%;
                    img {
                      //noinspection CssInvalidPropertyValue
                      image-rendering: -webkit-optimize-contrast;
                      height: 60px;
                    }
                  }
                }
              }

              .grid_item:nth-child(1) {
                .count_num {
                  background-color: #e94235;
                  color: white;
                }
              }

              .grid_item:nth-child(2),
              .grid_item:nth-child(3),
              .grid_item:nth-child(4),
              .grid_item:nth-child(5),
              .grid_item:nth-child(6),
              .grid_item:nth-child(7),
              .grid_item:nth-child(8),
              .grid_item:nth-child(9),
              .grid_item:nth-child(10),
              {
                .thumb {
                  visibility: hidden;
                }
              }

              .grid_item:nth-child(3) {
                .count_num {
                  background-color: #34a853;
                  color: white;
                }
              }

              .grid_item:nth-child(4) {
                .count_num {
                  background-color: #4285f4;
                  color: white;
                }
              }

              .grid_item:nth-child(2) {
                .count_num {
                  background-color: #fabb05;
                  color: white;
                }
              }

              .grid_item:hover {
                .wrap_article {
                  .grid_bottom {
                    opacity: 0.5;
                  }
                }

                .thumb {
                  visibility: visible;
                  -webkit-transition: all .3s ease-in-out 0s;
                  -o-transition: all .3s ease-in-out 0s;
                  transition: all 1s ease-out;
                }
              }

              .grid_item:nth-child(1n+2) {
                .wrap_article {
                  .thumb {
                    display: none;
                  }
                }
              }

              .grid_item:nth-child(1n+2):hover {
                .grid_bottom {
                  .grid_title {
                    a {
                      -webkit-transition: all 0.3s ease-in-out 0s;
                      -o-transition: all 0.3s ease-in-out 0s;
                      transition: all 0.3s ease-in-out 0s;
                      word-wrap: break-word;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                      display: block;
                      display: -webkit-box;
                      max-height: 36px;
                      line-height: 18px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      white-space: normal;
                      word-break: normal;
                    }
                  }
                }

                .thumb {
                  display: block;
                  -webkit-transition: all 0.3s ease-in-out 0s;
                  -o-transition: all 0.3s ease-in-out 0s;
                  transition: all 0.3s ease-in-out 0s;

                  a {
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;

                    img {
                      -webkit-transition: all 0.3s ease-in-out 0s;
                      -o-transition: all 0.3s ease-in-out 0s;
                      transition: all 0.3s ease-in-out 0s;

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
