.main-warap {
  margin-top: 45px;
  .main_section {
    .container {
      .warrap_detail {
        .list_category {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          .item_cate {
            width: 17%;
            border:1px solid #00a1ff;
            text-align: center;
            border-radius: 7px;
            padding: 10px;
            margin: 15px;
            .on {
              color: #8c8c8c;
            }
          }
          .item_cate:hover {
            background-color: #4285f4;
            transition: all 0.3s ease-in-out;
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}
