.box_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;

  .box_input {
    height: 35px;
    flex: 1;
    -ms-flex: 1;

    input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      padding: 0 10px;
      color: #333;
      background-color: #fff;
      border: 1px solid #4285f4;
      border-radius: 5px;
    }
  }

}

.suggestions_box {
  position: relative;
  width: 280px;


  .suggestions__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 110%;
    background-color: #fff;
    z-index: 991;
    padding: 10px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-height: 280px;

    &.on {
      height: auto;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      overflow-x: hidden;
      overflow-y: auto;
    }

    li {
      margin-bottom: 10px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -8px;
        top: 0;
        bottom: 0;
        width: 4px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        text-decoration: none;
        outline: none;

        .content_sugge {
          display: flex;
          flex-direction: column;

          h3 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
          }

          p {
            font-size: 12px;
            letter-spacing: 1.2px;
            color: #888;

          }
        }
      }

    }
  }
}
