.wrap-header {
  .main_header {
    background-color: white;
    background-image: url('@/assets/images/icon/headerBG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    .container {
      height: 100%;
      width: 100%;
      .box_main_header {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        .box_search {
          width: 25%;
          .search {
            width: 100%;
            #search {
              border-radius: 5px;
              width: 100%;
              padding: 6px 6px;
              font-size: 15px;
              border: 1px solid #4285f4;
            }
            #search:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
  .main_nav {
    background-color: #4285f4;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
    .container {
      .box_menu {
        display: flex;
        min-height: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .main_menu {
          .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            .item_menu {
              margin-right: 15px;
              a {
                color: #a5c7ff;
                font-weight: 800;
                text-transform: uppercase;
              }
              a.nuxt-link-exact-active {
                color: white;
              }
            }
          }
        }
        .authen_block {
          .unlogin {
            .btn {
              color: white;
            }
          }
        }
      }
    }
  }
}
