#wrap_card_id {
  margin: 50px 0 30px;
  .container {
    .box_card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .block_left {
        width: 73%;
        .block_detail {
          .content {
            display: flex;
            flex-direction: row;
            padding: 20px 10px;
            border: 1px solid #ccc;
            box-shadow: 0 0 24px 4px rgb(0 25 53 / 4%);
            .thumb {
              width: 35%;
              image-rendering: pixelated;
              display: flex;
              align-items: center;
              .image {
                width: 100%;
                height: 85%;
                display: flex;
                align-items: center;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .info_blog {
              margin-left: 25px;
              padding: 10px 0;
              width: 100%;
              .title {
                width: 100%;
                h3 {
                  width: 100%;
                  font-size: 25px;
                  font-weight: bold;
                  color: #4285f4;
                }
              }
              .view {
                font-size: 14px;
                color: #444;
                margin: 10px 5px 0;
              }
              .list_detail {
                margin: 15px 0;
                ul {
                  border: 1px dashed #ccc;
                  border-radius: 15px;
                  li {
                    margin: 5px 10px;
                    display: flex;
                    flex-direction: row;
                    padding: 10px 5px;
                    border-bottom: 1px dashed #999;
                    .title_detail {
                      min-width: 120px;
                      font-weight: normal;
                      color: #777;
                    }
                    .content_txt {
                      font-weight: bold;
                    }
                  }
                  li:nth-child(2) {
                    .content_txt {
                      color: #4285f4;
                    }
                  }
                  li:nth-child(4) {
                    border-bottom: none;
                  }
                }
              }
              .block_social_wishlish {
                display: flex;
                justify-content: space-between;
                background: #dfebff;
                padding: 10px 7px;
                .social_sharing {
                  align-items: center;
                  li:nth-child(2),
                  li:nth-child(3)
                  {
                    margin-left: 11px;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #3f629c;
                    border-radius: 30px;
                    a {
                      font-size: 17px;
                      color: white;
                    }
                  }
                }
                .wishlish_block {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  .box_check:nth-child(1) {
                    font-size: 16px;
                    margin-right: 5px;
                    color: #4285f4;
                  }
                  .box_check:nth-child(2) {
                    font-size: 16px;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background-color: #6c757d;
                    border-radius: 5px;
                  }
                  .box_check:nth-child(2):hover {
                    color: #C13333;
                    transition: all 1s;
                  }
                }
              }
            }
          }
          .content_story_content {
            background-color: #e1e1e1;
            padding: 15px 20px;
            .block_title {
              font-weight: bolder;
            }
            .block_content_story {
              line-height: 1.5;
              font-size: 18px;
            }
          }
        }
        .block_chapter {
          .title_block {
            position: relative;
            padding-left: 10px;
            font-weight: bolder;
            font-size: 20px;
          }
          .title_block:before {
            content: "";
            width: 2px;
            height: 80%;
            background-color: #4285f4;
            position: absolute;
            left: 0;
            top: 10%;
          }
          .list_chapter {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
              padding: 10px;
              width: 48%;
              border: 1px dashed #ccc;
              margin: 7px 0;
            }
          }
        }
      }
      .block_right {
        width: 25%;
      }
    }
  }
}
