.wrap_search {
 .container {
   .form_search {
     .title_search {
       font-weight: bolder;
       font-size: 23px;
       color: #4285f4;
       margin: 20px 0;
     }
   }
   .main_filter {
     background-color: #f5f5f5;
     border: 1px solid #4285f4;
     padding: 40px 20px;
     border-radius: 7px;
     .row {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       .col {
         .group__control {
           color: #4285f4;
         }
         .form_control {
           .input {
             width: 100%;
             border: 2px solid #4285f4;
             border-radius: 5px;
             padding: 5px 8px;
             outline: none;
             color: #444;
           }
           select {
             border-width: 2px;
             width: 100%;
             padding: 5px 8px;
             border-radius: 5px;
             border-color: #4285f4;
             color: #444;
             outline: none;
             option {
               font-size: 12px;
               font-weight: 400;
             }
           }
         }
       }
     }
     .row:nth-child(2) {
       .col:nth-child(4) {
         margin-top: 29px;
         .group__control {
           .form_control {
            justify-content: space-evenly;
           }
         }
       }
     }
   }
   .main__result {
     margin: 50px 0 100px;
     background-color: #f5f5f5;
     border: 1px solid #e1e1e1;
     border-radius: 7px;
     min-height: 300px;
     .loadding {
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       min-height: 260px;
       img {
         height: 60px;
         width: 60px;
         object-fit: cover;
         -ms-object-fit: cover;
         margin-bottom: 10px;
         animation: rotation 3s infinite linear;
       }
       @keyframes rotation {
         from {
           transform: rotate(0deg);
         }
         to {
           transform: rotate(359deg);
         }
       }
       p {
         color: #9ec3ff;
         margin-top: 3px;
       }
     }
     .info_resut {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
       padding: 15px 0 20px 0;
        p:nth-child(1) {
          strong {
            font-size: 16px;
            font-weight: bolder;
          }
          margin-bottom: 5px;
        }
        p:nth-child(2) {
          strong {
            font-weight: bolder;
            font-size: 16px;
          }
        }
      }
     .list__result {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-between;
       background-color: #fff;
       .result_item {
         width: calc(50% - 7px);
         background-color: #eff5ff;
         margin: 7px 0;
         .warrap__story {
            width: 100%;
            display: flex;
           flex-direction: row;
           padding: 0 10px 0 0;
           .thumbnail {
             width: 130px;
             height: 130px;
             background-position: center;
             background-size: cover;
             background-repeat: no-repeat;
             margin-bottom: 0;
           }
           .info {
             width: 70%;
             margin-left: 15px;
             margin-bottom: 0;
             h2 {
               font-weight: bold;
               color: #4285f4;
               font-size: 20px;
               margin: 7px 0 10px;
             }
             p {
               font-size: 14px;
               text-align: justify;
               color: #757575;
               word-wrap: break-word;
               -webkit-line-clamp: 3;
               -webkit-box-orient: vertical;
               display: block;
               display: -webkit-box;
               max-height: 54px;
               line-height: 18px;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
               white-space: normal;
               word-break: normal;
             }
           }
         }
       }
     }
   }
   .not_resutl {
     width: 100%;
     height: 100px;
     align-items: center;
   }
 }
}
.btn_reset {
  border: 1px solid #4285f4;
  color: #4285f4;
}
.form_contro {
  border: 2px solid #4285f4;
  color: #4285f4;
  border-radius: 5px;
}

