$modal_avatar:'modal_avatar';

.#{$modal_avatar} {
  .modal-dialog {
    max-width: 690px;
  }

  .warrap__choose_avatar {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .avatar__list {
      display: grid;
      grid-template-columns: repeat(6, 80px);
      grid-column-gap: 28px;
      -moz-column-gap: 28px;
      column-gap: 28px;
      grid-row-gap: 28px;
      row-gap: 28px;
      padding: 35px;

      .avatar__item {
        height: 80px;
        cursor: pointer;
        position: relative;

        &.checked {
          cursor: alias;
          pointer-events: none;
        }

        .avatar_checked {
          position: absolute;
          bottom: 0;
          right: 0;
          height: 16px;
          @include tran_slow_03();
          opacity: 0;
          visibility: hidden;
          pointer-events: none;

          &.checked {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .warrap__control_avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .btn_custom {
      height: 36px;
      @include borderRadius(4px);
      min-width: 110px;
      margin-right: 10px;
      @include tran_slow_03();

      &:last-child {
        margin-right: 0;
      }

      &.btn_cancel {
        border: 1px solid #333;

        &:hover {
          border: 1px solid #fff;
          background-color: #fff;
        }
      }

      &.btn_update {
        border: 1px solid map_get($main-colors, 1);
        background-color: map_get($main-colors, 1);
        color: #fff;

        &:hover {
          border: 1px solid map_get($main-colors, 2);
          background-color: map_get($main-colors, 2);
        }
      }
    }
  }
}
