.modal-save__cookmark {
  min-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:none;
    img {
      height: 65px;
      width: 65px;
      margin-bottom: 20px;
    }
    .title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .des {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 20px;
    }
  }
  .modal-control_action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .btns {
      background-color: #e1e1e1;
      color: #333;
      border: none;
      outline: none;
      padding: 10px;
      min-width: 120px;
      @include borderRadius(4px);
    }
  }
}