$modal : 'modal';
$promotion-list: 'promotion-list';
$promo: 'promo';

/deep/ .#{$modal} {
  height : 100%;
  &-open {
    height : 100%;
  }
  .#{$promotion-list} {
    display: grid;
    grid-gap: .5rem;
    row-gap: 1rem;
    @include mq($from: mobile) {
      row-gap: 2rem;
    }

    &__container {
      width: 100%;
      .promotion-list__arrow {
        transition: all .3s linear;
        opacity: 1;
      }
    }

    @include mq($from: mobile) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2rem 0.5rem;
      padding: 0 2rem;

      &__container {
        &:hover {
          .game-list__arrow {
            opacity: 1;
          }
          .swiper-button-disabled {
            opacity: 0;
          }
        }
      }

      &__arrow {
        position: absolute;
        display: flex;
        top: 13px;
        z-index: 5;
        opacity: 0;
        height: 100%;
        align-items: center;
        background: linear-gradient(90deg, rgba(27, 22, 23, 0) 0%, rgba(27, 22, 23, 0.85) 59.38%, #1B1617 100%);

        &.swiper-button-disabled {
          opacity: 0;
        }

        i {
          display: inline-block;
          height: 40px;
          width: 40px;
          transform: translateY(-16px);
          z-index: 1;
          background: url("#{$image-path}icons/right-slide.svg") no-repeat center;
          background-size: 80%;
        }

        &.prev {
          left: 0;
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        &.next {
          right: 0;
        }
      }

    }

    @include mq($until: mobile) {
      padding: 0 .5rem;
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .#{$promo} {
    &__item {
      margin-right: 25px !important;
      &:last-child {
        margin-right: 0;
      }
    }
    @include mq($from : mobile) {
      grid-template-columns: repeat(6, 1fr) !important;
      column-gap: 0 !important;
    }
  }

  .close {
    top             : 0;
    right           : 0;
    position        : absolute;
    color           : #838a92;
    width           : 32px;
    height          : 32px;
    background      : #323439;
    border-radius   : 50%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    opacity         : 1 !important;
    cursor          : pointer;
    transition      : all 0.5s ease;
    span {
      display     : inline-block;
      cursor      : pointer;
      font-size   : 24px;
      text-shadow : none;
      position    : absolute;
      top         : 1px;
    }
    @include mq($from : mobile) {
      display : none;
    }
    &:hover, &:focus {
      background : #636363;
      transition : all 0.5s ease;
    }
  }
  &.show {
    &.modal {
      transform  : translateX(0);
      transition : all 0.3s linear;
    }
  }
  .modal-user-image {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    @include mq($from: mobile) {
      display: block;
    }
    @media (orientation: portrait) {
      display: none;
    }
    .modal-packages {
      position: absolute;
      bottom: 0;
      width: 100%;

      .promo-section {
        padding: 15px;
        background: linear-gradient(89.98deg, rgba(255, 226, 156, 0) 3.34%, #DDD1B4 55.39%, rgba(255, 226, 156, 0) 97.62%);
      }

      .promo {
        margin: 0 auto;
        overflow: initial;
        max-width: fit-content;
        &__wrap-img {
          min-width: 120px;
        }
        &__item {
          width: 310px !important;
        }
      }
    }

    .modal-overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5rem;
      background: linear-gradient(180deg, rgba(22, 22, 24, 0) -100%, #161618 100%);
    }
  }
  .modal-user-content {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100%;
    overflow: hidden auto;
    margin: 0 0 0 auto;
    width: 100%;
    max-width: 480px;
    padding: 0;
    @include mq($from : mobile) {
      padding: 2rem;
    }
  }
  &-backdrop {
    opacity : .9;
  }
  &__model {
    position         : absolute;
    width            : calc(100% - 500px);
    height           : 95%;
    bottom           : 0;
    transform        : translateX(-100%);
    transition       : all .3s linear;
    transition-delay : 1s;
    img {
      object-fit      : contain;
      object-position : bottom;
      position        : absolute;
      width           : 100%;
      height          : 100%;
    }
  }
  &__logo {
    margin-bottom : 2rem;
    text-align    : center;
    @include mq($from : mobile) {
      display       : flex;
      align-items   : center;
      margin-bottom : 3rem;
    }
    span {
      font-style    : normal;
      font-weight   : normal;
      font-size     : 16px;
      line-height   : 26px;
      color         : #aaafb7;
      display       : block;
      margin-top    : 0.5rem;
      margin-bottom : 1rem;
    }
    img {
      width : 75px;
      @include mq($from : mobile) {
        width        : 112px;
        margin-right : 1rem;
      }
      &.#{$modal}__line {
        width : 100%;
        @include mq($from : mobile) {
          display : none;
        }
      }
    }
  }
  &__head {
    text-align : center;
    width      : 100%;
    @include mq($from : mobile) {
      text-align     : left;
      padding-bottom : 1rem;
      border-bottom  : 1px solid #323439;
    }
    .#{$modal}__title {
      display       : block;
      margin-bottom : 0;
      .display__pc {
        display : none;
        @include mq($from : mobile) {
          display     : block;
          font-style  : normal;
          font-weight : 800;
          font-size   : 30px;
          line-height : 50px;
          color       : #f7f8fa;
          margin      : 0;
          text-align  : left;
        }
      }
      .display__sp {
        display       : block;
        font-style    : normal;
        font-weight   : 800;
        font-size     : 20px;
        line-height   : 29px;
        color         : #f7f8fa;
        margin-top    : 1.5rem;
        margin-bottom : 0;
        @include mq($from : mobile) {
          display : none;
        }
      }
    }
    .#{$modal}__desc {
      @include mq($from : mobile) {
        margin : 0;
      }
    }
  }
  &__title {
    font-size     : 16px;
    line-height   : 23px;
    color         : $second-color;
    margin-bottom : 1.5rem;
    text-align    : center;
    @include mq($from : mobile) {
      display : none;
    }
  }
  &--type1 {
    &.modal {
      transform : translateX(100%);
    }
    .modal-dialog {
      margin    : 0 0 0 auto;
      height    : 100%;
      width     : 100%;
      max-width : 100%;
    }
    .modal-content {
      max-width       : 100%;
      height          : calc(100% - 20.425vw);
      padding         : 1.25rem 1rem;
      position        : absolute;
      left            : 0;
      right           : 0;
      bottom          : 0;
      top             : 0;
      width           : 100%;
      overflow-x      : hidden;
      overflow-y      : auto;
      background      : #161618 url("#{$image-path}/components/user/popup.png") no-repeat top;
      background-size : 100% 50%;
      border          : none;
      @include mq($from : smallMobile-480) {
        height : calc(100% - 69px);
      }
      @include mq($from : mobile) {
        height  : 100%;
        padding : 0;
      }
    }
    .modal-body {
      display: grid;
      padding : 0;
      grid-template-columns: 1fr;
      @include mq($from: mobile) {
        grid-template-columns: auto 480px;
      }
      @media (orientation: portrait) {
        grid-template-columns: 1fr;
      }
    }
  }
  &--type2 {
    .modal-content {
      background : #202023;
      border     : 1px solid #2d333a;
      h4 {
        font-size      : 20px;
        line-height    : 32px;
        text-align     : center;
        margin-bottom  : 2.5rem;
        text-transform : uppercase;
      }
    }
    .form-account__wrap {
      padding : 2rem 4rem;
    }
    .modal-dialog {
      max-width : 600px;
    }
  }
}
