$modal-welcome : 'modal-welcome';
$modal : 'modal';
$base-radio : 'base-radio';

/deep/ .#{$modal} {
  .close {
    top             : 2rem;
    right           : 2rem;
    position        : absolute;
    color           : #838a92;
    width           : 32px;
    height          : 32px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    opacity         : 1 !important;
    cursor          : pointer;
    z-index         : 9;
    transition      : all 0.5s ease;
    @include mq($until : 576px) {
      img {
        width : 32px;
      }
    }
    span {
      display     : inline-block;
      cursor      : pointer;
      font-size   : 28px;
      text-shadow : none;
      position    : absolute;
      top         : 1px;
    }
  }
  &-backdrop {
    opacity : .9;
  }
  .modal-dialog {
    @include mq($from : 576px) {
      max-width : 700px;
    }
  }
  .modal-content {
    padding    : 0;
    width      : 100%;
    background : transparent;
    overflow-x : hidden;
    overflow-y : auto;
    border     : none;
  }
}

.#{$modal-welcome} {
  position      : relative;
  border-radius : 5px;
  overflow      : hidden;
  &__img {
    aspect-ratio: 8 / 6;
    width: 100%;
  }
  img {
    position : relative;
  }
  &__wrap {
    width           : 100%;
    background      : #c90818 url("#{$image-path}/components/user/bg-welcome.jpg") no-repeat top;
    background-size : cover;
    margin-top      : -2rem;
    position        : relative;
    @include mq($from : 576px) {
      margin-top : -12rem
    }
  }
  &__title {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 62px;
    background      : linear-gradient(180deg, #ba0917 0%, rgba(179, 12, 26, 0.57) 100%);
    @include mq($until : 576px) {
      display : block;
    }
    .pc-gift {
      display: none;
      @include mq($from : mobile) {
        display: block;
      }
    }
    .mb-gift {
      display: block;
      @include mq($from : mobile) {
        display: none;
      }
    }
    img {
      display      : block;
      margin-right : 1rem;
      margin-top   : -30px;
      width: 85px;
      transform: rotate(-12.87deg);
      @include mq($until : 576px) {
        position   : absolute;
        top        : 0;
        width      : 60px;
        margin-top : -15px;
      }
    }
    span {
      font-style     : normal;
      font-weight    : bold;
      font-size      : 16px;
      line-height    : 26px;
      display        : flex;
      align-items    : center;
      text-align     : center;
      text-transform : uppercase;
      color          : #f7f8fa;
      @include mq($until : 576px) {
        display     : block;
        font-size   : 14px;
        line-height : 30px;
      }
    }
  }
  &__content {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding         : 2rem 1rem;
    margin-left     : auto;
    margin-right    : auto;
    @include mq($from : smallMobile-768) {
      max-width : 530px;
    }
    @include mq($until : 576px) {
      display : block;
      padding : 1rem;
    }
  }
  &__plan {
    flex: 0 0 60%;
    @include mq($until : 576px) {
      margin-bottom : 1rem;
    }
    &::v-deep {
      .#{$base-radio} {
        display : block;
        margin-right: -1rem;
        &__wrap {
          margin-bottom : 1rem;
          @include mq($until : 576px) {
            margin-bottom : 0.4rem;
            margin-right : 0;
          }
          &:last-child {
            margin-bottom : 0;
          }
          input[type=radio] {
            &:checked ~ .#{$base-radio}__box {
              &:before {
                content          : '';
                border-color     : transparent;
                background-color : rgba(252, 88, 88, 0.8);
              }
              &:after {
                content    : '';
                background : linear-gradient(180deg, #fdf9c0 0%, #fce07c 100%);
              }
            }
          }
        }
        &__box {
          &:before {
            content    : '';
            background : rgba(252, 88, 88, 0.8);
            border     : 1px solid rgba(252, 88, 88, 0.8);
          }
        }
        &__label {
          color : #ffffff;
          @include mq($until : 576px) {
            font-size : 14px;
          }
        }
      }
    }
  }
  &__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @include mq($from : smallMobile-768) {
      grid-auto-flow: column;
    }
    button {
      font-size: 12px;
      padding: 0.5rem;
    }

    .pc-btn {
      display: none;
      @include mq($from : mobile) {
        display: block;
      }
    }
    .mb-btn {
      display: block;
      @include mq($from : mobile) {
        display: none;
      }
    }

    .action-button {
      width: 116px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      @include mq($from : mobile) {
        width: 180px;
        height: 60px;
        font-size: 18px;
      }
    }

    .login-btn,
    .register-btn {
      flex-basis: 45%;
      border-radius: 3px;
      @include mq($from : mobile) {
        font-size: 16px;
      }
    }
  }
}
