<template>
  <div class="wrap_body mt-5">
    <div class="container">
      <section class="home_page">
        <div class="wrap_page">
          <SectionTop />
          <HomeListStory />
        </div>
        <QuaCoGlobal />
        <ListCate />
        <div class="main_warrap_block">
          <QuaCoGlobal />
          <ListStoryCategory />
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import SectionTop from '@/components/pages/home/section_top.vue'
import ListCate from '@/components/pages/home/main_list_cate.vue'
import ListStoryCategory from '@/components/pages/home/section_list_story_category'
import HomeListStory from '@/components/pages/lobby/home-list-story.vue'
import QuaCoGlobal from '@/components/common/qua-co-global'
export default {
  components: { QuaCoGlobal, SectionTop, ListCate, ListStoryCategory, HomeListStory },
  props: {
  },
  methods: {
    openModal () {
      console.log('open modal... ne')
      this.$modal.open({ name: 'CreateDeckModal' })
    }
  }
}
</script>
<style lang="scss" src="assets/scss/components/_homePage.scss">
.modal_body {
  background-color: #fff;
  padding: 1rem;
  color: black;
}
</style>
