<template>
  <section class="main_list_cate">
    <div v-if="ListCategoryData" class="blog_list_cate">
      <div
        v-for="(listCateItem, index) in ListCategoryData"
        :key="index"
        class="item_list_cate"
      >
        <div class="blog_tile">
          <h3>
            <nuxt-link
              :to="'/the-loai/' + listCateItem['cate'].category_slug"
              class="text-dark font-weight-bold"
            >
              {{ listCateItem["cate"].category_name }}
            </nuxt-link>
          </h3>
        </div>
        <div v-if="listCateItem['story']" class="warrap_grid_post">
          <ul class="grid_data">
            <li
              v-for="(story, index) in listCateItem['story']"
              :key="index"
              class="grid_item"
            >
              <span class="count_num"> {{ index + 1 }} </span>
              <article class="wrap_article">
                <div class="grid_bottom">
                  <h2 class="grid_title">
                    <nuxt-link :to="'/truyen/' + story.story_slug">
                      {{ story.story_title }}
                    </nuxt-link>
                  </h2>
                  <span>{{ story.story_count_chappter }} Chương</span>
                </div>
                <div class="thumb">
                  <nuxt-link
                    :to="'/truyen/' + story.story_slug"
                  >
                    <img :src="IMG_PRODUCT_URL + story.story_avatar">
                  </nuxt-link>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import STORYAPI from '@/api/story'
import constanMixin from '@/mixins/constan-mixin'

export default {
  mixins: [constanMixin],
  data () {
    return {
      ListCategoryData: null
    }
  },
  mounted () {
    this.fetcListtStorybyCategory()
  },
  methods: {
    async fetcListtStorybyCategory () {
      try {
        const listCategoryData = await this.$axios.$get(
          STORYAPI.STORY_HOME_STORE_LIST
        )
        if (listCategoryData) {
          this.ListCategoryData = listCategoryData.data
        }
      } catch (error) {}
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
