<template>
  <section class="category_list_home">
    <div class="heading_main_title">
      <h2>Thể loại</h2>
      <hr>
    </div>
    <ul v-if="listCategory" class="list_items">
      <li v-for="(category, index) in listCategory" :key="index" class="items">
        <div class="content_item">
          <nuxt-link
            class="item-box"
            :to="'/the-loai/' + category.category_slug"
          >
            <label class="name_cate">» {{ category.category_name }}</label>
          </nuxt-link>
        </div>
      </li>
    </ul>
  </section>
</template>
<script>
import STORYAPI from '@/api/story'

export default {
  data () {
    return {
      listCategory: null
    }
  },
  mounted () {
    this.fectchListcategory()
  },
  methods: {
    async fectchListcategory () {
      try {
        const listcategoryData = await this.$axios.$get(
          STORYAPI.STORY_LIST_CATEGORY
        )
        if (listcategoryData) {
          this.listCategory = listcategoryData.data
        }
      } catch (error) {}
    }
  }
}
</script>
<style lang="scss">
.category_list_home {
  .heading_main_title {
    margin: 20px 0;
    h2 {
      font-size: 19px;
      font-weight: bold;
    }
  }
  .list_items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    .items {
      width: 23%;
      padding: 10px 0;
      margin: 10px 0;
    }
    .items:hover {
      .item-box {
        .name_cate {
          color: #4285f4;
          transition: all 0.3s;
        }
      }
    }
  }
}
</style>
