<template>
  <div class="home_top_ss">
    <div class="wrap_top_ss">
      <FistStoryHome />
    </div>
  </div>
</template>
<script>
import FistStoryHome from '@/components/pages/lobby/home-first-top'
export default {
  components: {
    FistStoryHome
  }
}
</script>
