<template>
  <div class="main-warap">
    <div class="main_section">
      <div class="containers">
        <div class="section__warrap">
          <div class="block__warrap_left">
            <Destop :data-author="dataAuthor" />
          </div>
          <div class="block__warrap_right">
            <div class="box_warap_block">
              <SidebarListCategory />
              <BestStoryRead />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AUTHOR_API from '@/api/author'

import SidebarListCategory from '@/components/common/SidebarListCategory'
import Destop from '@/components/pages/tacgia/index.vue'
import BestStoryRead from '~/components/common/best-story-read'
export default {
  components: {
    BestStoryRead,
    Destop,
    SidebarListCategory
  },
  data () {
    return {
      slug: this.$route.params.slug,
      page: 1,
      dataAuthor: null
    }
  },
  mounted () {
    this.$nextTick(() => {
      document.getElementById('page').classList.add('page--author')
    })
    this.fectAuthors()
  },
  destroyed () {
    document.getElementById('page').classList.remove('page--author')
  },
  methods: {
    async fectAuthors () {
      if (this.slug) {
        try {
          const dataAuthor = await this.$axios.$get(
            AUTHOR_API.GET_STORY_BY_SLUG_AUTHOR +
            this.slug +
            '?page=' +
            this.page
          )
          if (dataAuthor) {
            this.dataAuthor = dataAuthor.data
          }
        } catch (error) {
          this.$router.push({ path: '/' })
        }
      }
    }
  }
}
</script>
<style lang="scss"></style>
