<template>
  <div class="box_home_right">
    <div v-if="ListStoryData" class="wrap_item_box d-flex flex-row flex-wrap">
      <div
        v-for="(story, index) in ListStoryData"
        :key="index"
        class="box_item"
      >
        <div class="content_item">
          <nuxt-link
            class="wrap_item_thumb"
            :to="'/truyen/' + story.story_slug"
          >
            <div
              class="box_thumb"
              :style="{
                backgroundImage:
                  'url('+ IMG_PRODUCT_URL +
                  story.story_avatar +
                  ')',
              }"
            />
            <div class="box_info">
              <div class="category_name">
                <ul>
                  <li>{{ story.story_count_chappter }} Chương</li>
                </ul>
              </div>
              <div class="story_name">
                {{ story.story_title }}
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import STORYAPI from '@/api/story'
import constanMixin from '@/mixins/constan-mixin'

export default {
  mixins: [constanMixin],
  data () {
    return {
      ListStoryData: null
    }
  },
  mounted () {
    this.fetcListtStory()
  },
  methods: {
    async fetcListtStory () {
      try {
        const listtoryData = await this.$axios.$get(
          STORYAPI.STORY_HOME_TOP_LIST
        )
        if (listtoryData) {
          this.ListStoryData = listtoryData.data
        }
      } catch (error) {}
    }
  }
}
/*
data () {
  return {
    listItemBox: [
      {
        _id: 1,
        categoryName: '12 Chương',
        storyName: 'Ta Là Bạn Của ',
        thumbnail:
          'https://cdn3.ivivu.com/2019/06/Huong-dan-duong-di-den-ngoi-nha-tren-may-binh-yen-house-o-dalat-ivivu-8.jpg'
      },
      {
        _id: 2,
        categoryName: '12 Chương',
        storyName: 'Ta Là Bạn Của ',
        thumbnail:
          'https://cdn3.ivivu.com/2019/06/Huong-dan-duong-di-den-ngoi-nha-tren-may-binh-yen-house-o-dalat-ivivu-8.jpg'
      },
      {
        _id: 3,
        categoryName: '12 Chương',
        storyName: 'Ta Là Bạn Của ',
        thumbnail:
          'https://cdn3.ivivu.com/2019/06/Huong-dan-duong-di-den-ngoi-nha-tren-may-binh-yen-house-o-dalat-ivivu-8.jpg'
      },
      {
        _id: 4,
        categoryName: '12 Chương',
        storyName: 'Ta Là Bạn Của ',
        thumbnail:
          'https://cdn3.ivivu.com/2019/06/Huong-dan-duong-di-den-ngoi-nha-tren-may-binh-yen-house-o-dalat-ivivu-8.jpg'
      },
      {
        _id: 5,
        categoryName: '12 Chương',
        storyName: 'Ta Là Bạn Của ',
        thumbnail:
          'https://cdn3.ivivu.com/2019/06/Huong-dan-duong-di-den-ngoi-nha-tren-may-binh-yen-house-o-dalat-ivivu-8.jpg'
      },
      {
        _id: 6,
        categoryName: '12 Chương',
        storyName: 'Ta Là Bạn Của ',
        thumbnail:
          'https://cdn3.ivivu.com/2019/06/Huong-dan-duong-di-den-ngoi-nha-tren-may-binh-yen-house-o-dalat-ivivu-8.jpg'
      },
      {
        _id: 7,
        categoryName: '12 Chương',
        storyName: 'Ta Là Bạn Của ',
        thumbnail:
          'https://cdn3.ivivu.com/2019/06/Huong-dan-duong-di-den-ngoi-nha-tren-may-binh-yen-house-o-dalat-ivivu-8.jpg'
      },
      {
        _id: 8,
        categoryName: '12 Chương',
        storyName: 'Ta Là Bạn Của ',
        thumbnail:
          'https://cdn3.ivivu.com/2019/06/Huong-dan-duong-di-den-ngoi-nha-tren-may-binh-yen-house-o-dalat-ivivu-8.jpg'
      }
    ]
  }
}
 */

</script>
