<template>
  <div v-if="fiststoryData" class="box_home_left">
    <nuxt-link to="/truyen/yeu-nguoi-nhu-the">
      <div class="bg_story">
        <div
          class="box_thumb"
          :style="{
            backgroundImage:
              'url(https://img.truyencc.net/story_avatar/' +
              fiststoryData.story_avatar +
              ')',
          }"
        />
      </div>
      <div class="box_info">
        <div class="category_name">
          <ul>
            <li class="py-2">
              {{ fiststoryData.story_count_chappter }} Chương
            </li>
          </ul>
        </div>
        <div class="story_name">
          {{ fiststoryData.story_title }}
        </div>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
import STORYAPI from '@/api/story'

export default {
  data () {
    return {
      fiststoryData: []
    }
  },
  mounted () {
    this.fetchFirstStory()
  },
  methods: {
    async fetchFirstStory () {
      try {
        const fiststoryData = await this.$axios.$get(
          STORYAPI.LIST_STORY_HOME_FIRST_LIST
        )
        if (fiststoryData) {
          this.fiststoryData = fiststoryData.data
        }
      } catch (error) {}
    }
  }
}
</script>
