<template>
  <div id="page">
    <Header />
    <Nuxt />
    <Footer />
    <div ref="scrollBtn" class="scroll-top" @click="$_clickScrollToTop()" />
    <RegisterModal />
    <LoginModal />
  </div>
</template>
<script>
import Header from '@/components/layout/Header/header'
import Footer from '@/components/layout/footer/index'
import scrollToTopMixin from '@/mixins/scroll-to-top.js'
import scrollBarMixin from '@/mixins/scroll-bar'
import RegisterModal from '@/components/user/register-form'
import LoginModal from '@/components/user/login-form'
import GlobalMixin from '@/mixins/global-mixin'
import modalMixin from '@/mixins/modal'

export default {
  components: { LoginModal, Header, Footer, RegisterModal },
  mixins: [scrollToTopMixin, scrollBarMixin, GlobalMixin, modalMixin]
}
</script>
<style>
.scroll-top {
  opacity: 0;
  position: fixed;
  width: 36px;
  height: 36px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
  display: none;
  background-image: url('@/assets/img/icon/scroll-to-top.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.show-scroll-btn {
  opacity: 1;
  visibility: visible;
  animation-name: showBtn;
  animation-duration: 1s;
  bottom: 120px;
  display: block;
}
</style>
