<template>
  <div class="home_page">
    <component :is="component" />
  </div>
</template>
<script>
import Home from '~/components/pages/home/home'
export default {
  components: { Home },
  head () {
    return {
      title: this.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Đọc truyện online nhanh nhất , đầy đủ và cập nhật liên tục. Truyện Ngôn Tình, truyện full,truyện chữ, truyện hay, truyện dịch, truyện convert'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.title
        }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      document.getElementById('page').classList.add('page--home')
    })
  },
  destroyed () {
    document.getElementById('page').classList.remove('page--home')
  },
  beforeCreate () {
    this.component = 'Home'
  }
}
</script>
