<template>
  <div class="warrap_authen">
    <div class="box_authen">
      <header class="header_authen">
        <h1>Đăng Nhập</h1>
      </header>
      <div class="main_authen">
        <form>
          <div class="box_login">
            <div class="box_input">
              <label class="group_label">EMAIL</label>
              <input type="email" placeholder="EMAIL">
            </div>
            <div class="box_input">
              <label class="group_label">PASSWORD</label>
              <input type="password" placeholder="MẬT KHẨU">
            </div>
            <div class="box_btn_form">
              <button type="submit" class="btn btn_primary">
                Login
              </button>
            </div>
          </div>
        </form>
        <p class="authen_text">
          <nuxt-link to="/auth/register">
            Register here
          </nuxt-link>
        </p>
      </div>
    </div>
  </div>
</template>
<script>

</script>
