$base-button: 'base-button';

.#{$base-button} {
  vertical-align: middle;
  padding: 0.5rem 1rem;
  font-size: 14px;
  line-height: 20px;
  height: 44px;
  font-weight: bold;
  border-radius: 0;
  border: 0;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  color: #fff;
  transition: all .3s linear;
  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
  @media screen and (min-width: 981px){
    padding: 0.5rem 1.5rem;
    height: 60px;
    font-size: 18px;
  }
  &--outline-white {
    border: 1px solid #FFFFFF;
    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 0 20px rgba(255, 255, 255, .55);
    }
  }
  &--bg-red {
    background-color: #B50000;
    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 0 20px rgba(247, 0, 24, .55);
    }
  }
  &--bg-gray {
    background-color: #838A92;
  }
  &--bg-yellow {
    background-color: #FEBC1F;
    color: #0C0A0A;
    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 0 20px rgba(255, 207, 34, .33);
    }
  }
  &--bg-gray-type2 {
    background-color: #323439;
    color: #F7F8FA;
    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 0 20px rgba(54, 57, 63, .55);
    }
  }
  &--user-login {
    margin-left: 0.5rem;
    font-size: 11px;
    line-height: 12px;
    height: auto;
    padding: 0.5rem;
    @media screen and (min-width: 981px) {
      font-size: 14px;
      line-height: 18px;
      padding: 0.5rem 1rem;
      order: 1;
    }
  }
  &--deposit {
    margin-left : .5rem;
    font-size   : 11px;
    line-height : 12px;
    height      : auto;
    padding     : .5rem;
    display     : none;
    // @include mq($from : mobile) {
    //   display     : block;
    //   font-size   : 14px;
    //   line-height : 18px;
    //   padding     : 0.5rem 1rem;
    //   order       : 1;
    // }
  }
  &--banner {
    margin-top: 1.875rem;
    color: #F7F8FA;
    @media screen and (min-width: 768px) {
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 18px;
      line-height: 26px;
      padding: 1rem 2rem;
      border-radius: 3px;
      height: auto;
    }
  }
  &--menu {
    display: block;
    height: 42px;
    padding: 0.65rem 1rem;
    border-radius: 0.25rem;
  }
  &--hot-match {
    height: auto;
    @media screen and (min-width: 1201px) {
      font-size: 18px;
      padding: 1rem 2rem;
      min-width: 220px;
    }
    @media screen and (min-width: 768px) {
      line-height: 26px;
      border-radius: 3px;
    }
  }
  &--quick-register {
    border-radius: 3px;
    background-color: #FEBC1F;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B50000;
    font-size: 11px;
    line-height: 16px;
    padding: 1rem;
    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 0 20px rgba(255, 207, 34, .33);
    }
    &::v-deep {
      span {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        margin-top: 0.75rem;
        display: block;
      }
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 20px;
      padding: 2rem;
    }
  }
  &--account {
    height: 44px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    @media screen and (min-width: 768px) {
      height: 60px;
      font-size: 18px;
      line-height: 26px;
    }
  }
  &--transfer {
    width: 220px;
    height: 60px;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    border-radius: 5px;
  }
  &--cancel {
    height: 35px;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    padding: 7px 19px;
    border: 1px solid #838A92;
    border-radius: 3px;
    color: #F7F8FA;
  }
  span {
    opacity: 1;
    transition: opacity 0.5s linear;
  }
  &:hover {
    color: #F7F8FA;
    text-decoration: none;
  }
  &:disabled {
    cursor: default;
    opacity: 0.65;
  }
  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    span {
      display: inline-block;
      background: #99aaca;
      margin-right: 0.5rem;
      width: 8px;
      height: 8px;
      -webkit-animation: loading-btn 1s linear infinite normal;
      animation: loading-btn 1s linear infinite normal;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
  }
  &--error {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    min-width: 240px;
    border-radius: 3px;
    height: 44px;
    padding: .75rem;

    // @include mq($from: mobile) {
    //   font-size: 18px;
    //   line-height: 26px;
    //   min-width: 300px;
    //   height: 60px;
    //   padding: 1rem;
    // }
  }
  &--uppercase {
    text-transform: uppercase;
  }
  &--full {
    width: 100%;
  }
}
