<template>
  <header class="wrap-header">
    <div class="main_header">
      <div class="container">
        <div class="box_main_header">
          <Logo />
          <search />
        </div>
      </div>
    </div>
    <nav class="main_nav">
      <div class="container">
        <div class="box_menu">
          <nav class="main_menu">
            <ul class="menu">
              <li class="item_menu">
                <nuxt-link to="/">
                  Trang Chủ
                </nuxt-link>
              </li>
              <li class="item_menu">
                <nuxt-link to="/the-loai">
                  Thể Loại
                </nuxt-link>
              </li>
              <li class="item_menu">
                <nuxt-link to="/tim-kiem">
                  Tìm Kiếm
                </nuxt-link>
              </li>
            </ul>
          </nav>
          <ul class="authen_block">
            <NotLoginUser />
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>
<script>
import Logo from '@/components/common/logo'
import Search from '@/components/layout/Header/search'
import NotLoginUser from './not-login-user'
import { menus } from '~/resources/menu'
export default {
  components: {
    Search,
    Logo,
    NotLoginUser
  },
  data () {
    return {
      isShowMenu: false,
      isShowMMenuMobile: false,
      menus
    }
  }
}
</script>
<style lang="scss" src="@/assets/scss/components/header.scss"></style>
