<template>
  <li class="unlogin">
    <BaseButton v-b-modal.modalLogin>
      Đăng nhập
    </BaseButton>
    <BaseButton v-b-modal.modalRegister>
      Đăng ký
    </BaseButton>
  </li>
</template>
<script>
import BaseButton from '~/components/common/base-button'
export default {
  components: { BaseButton }
}
</script>
