<template>
  <div class="box_search">
    <div class="suggestions_box box_input">
      <input
        id="search_key"
        v-model="keySearch"
        type="text"
        placeholder="Nhập tên truyện..."
        name="keysearch"
        class="control_search"
        @input="onSearch"
        @focus="onSearch"
      >
      <ul
        v-if="dataSeatch"
        class="suggestions__list"
        :class="{ on: statusSearch }"
      >
        <li
          v-for="item, key in dataSeatch"
          :key="key"
          class="suggestions__item"
        >
          <nuxt-link :to="'/truyen/' + item.story_slug" @click="onClick">
            <div class="content_sugge">
              <h3>{{ item.story_title }}</h3>
              <p>{{ item.story_count_chappter }} Chương</p>
            </div>
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import SEARCH_API from '@/api/search'
export default {
  data () {
    return {
      statusSearch: false,
      dataSeatch: null,
      keySearch: ''
    }
  },
  mounted () {
    document.addEventListener('click', this.hideSuggestions)
  },
  beforeDestroy () {
    document.removeEventListener('click', this.hideSuggestions)
  },
  methods: {
    onClick () {
      this.keySearch = ''
    },
    onSearch () {
      if (this.keySearch.length > 3) {
        this.fetcSuggestions()
      } else {
        this.statusSearch = false
      }
    },
    async fetcSuggestions () {
      try {
        const listSuggestions = await this.$axios.$get(
          SEARCH_API.LIST_SUGGESTION + '?keySearch=' + this.keySearch
        )
        if (listSuggestions) {
          this.dataSeatch = listSuggestions.data
          this.statusSearch = true
        }
      } catch (error) {}
    },
    hideSuggestions () {
      this.statusSearch = false
    }
  }
}
</script>
<style lang="scss" src="assets/scss/components/header_search.scss"></style>
