<template>
  <div v-if="dataAuthor" class="block_info">
    <div class="block_title">
      <h2>Danh sách truyện của tác giả {{ dataAuthor.author.author_name }}</h2>
    </div>
    <div v-if="dataAuthor.author.author_description" class="block_content">
      <div class="des">
        <p v-html="dataAuthor.author.author_description" />
      </div>
    </div>
    <ul v-if="dataAuthor.list_story.data" class="list_story_by_category">
      <li
        v-for="(story, key) in dataAuthor.list_story.data"
        :key="key"
        class="war_item"
      >
        <nuxt-link :to="'/truyen/' + story.story_slug" class="wrap_item_thumb">
          <div
            class="box_thumb"
            :style="{
              backgroundImage:
                'url(' + IMG_PRODUCT_URL + story.story_avatar + ')',
            }"
          />
          <div class="box_info">
            <div class="category_name">
              <ul>
                <li>{{ story.story_count_chappter }} chương</li>
              </ul>
            </div>
            <div class="story_name">
              {{ story.story_title }}
            </div>
          </div>
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>
<script>
import constanMixin from '@/mixins/constan-mixin'

export default {
  mixins: [constanMixin],
  props: {
    dataAuthor: {
      type: Object,
      default: null
    }
  }
}
</script>
<style lang="">
</style>
