.box_logo {
  .logo_bg {
    a {
      width: 183px;
      height: 44px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      -webkit-transition: all .3s ease-in-out 0s;
      -o-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
    }
  }
}
